[2019-02-21 10:07] nhuthuynh195 opened #4 "how to install library"
how to install library

[2019-06-21 06:48] rmariscal13 commented on #4
npm install react-native-week-view

i guess for yarn and others has the same structure like
yarn install react-native-week-view

[2019-06-21 06:56] hoangnm commented on #4
Thanks @rmariscal13  for your reply. Actually, at the time @nhuthuynh195 asked, I didn't publish it to npm. Now it's available. I should reply sooner. I'm improving this library, thank you for trying it !

[2019-06-29 07:10] surenderkhowal opened #11 "Is support android/ios both?"
Is it support android/ios both

[2019-06-30 02:47] hoangnm commented on #11
Hi @surenderkhowal, it should work for both. Do you get any problems on specific environment ?

[2019-08-08 08:47] vinhtran6921 opened #14 "Can we drag and drop event?"
Can we implement drag and drop events in this calendar? Look like fullcalendar.io
I really appreciate your help.

[2019-08-11 05:29] hoangnm commented on #14
Hi @vinhtran6921, I'll add the feature soon. Thanks for trying the lib.

[2020-01-02 19:17] amanmobicules opened #17 "More than 2 events at same time are overlapping"
This library is working great when there are 2 events with same time but if there any are 3 events having common time overlapping. The events are overlapped and user cannot see them clearly.
![Simulator Screen Shot - iPhone Xʀ - 2020-01-03 at 00 46 24](https://user-images.githubusercontent.com/6769551/71686905-8b2b5680-2dc2-11ea-9b84-d3b41dab6113.png)

[2020-02-12 17:30] ashotosipyan opened #18 "Customize header problem"
Please tell me how can I change header's text color and customize the view a little bit. Thanks in advance!

[2020-03-18 22:07] pdpino commented on #18
I've seen that there is an undocumented prop `headerStyle` in the `WeekView` component, but is only passed to the container of the header (i.e. you may not be able to change text or other props from components inside the header)

[2020-03-31 13:58] harishsn opened #21 "Detect grid click"
Please let me know to how to detect grid click. it will be helpful even if click returns row, column index

[2020-04-01 14:22] hoangnm commented on #18
Hi guys, it's been a long time, I just add the new prop `headerTextColor` to set header's text color.

[2020-04-01 14:23] #4 closed

[2020-04-01 14:23] #11 closed

[2020-04-03 10:04] ymcewen commented on #14
@hoangnm did you get around to this? How about tapping on the grid to add a new event?

[2020-04-21 14:23] #18 closed

[2020-04-29 13:33] ahmadrushdie commented on #21
any way for click grid?

[2020-06-29 23:52] AllanKlaus opened #32 "How to use outside the start view."
I'm having the following error.

I have this tree

[code]

In `index.js` is this way

[code]

When I access the `Calendar` compoment using `react-router-native` the screen stay blank withou any error. But when aI change `index.js` to this

[code]

The calendar show. I don't understand what is happening.

[2020-06-30 11:28] AllanKlaus commented on #32
It's the style of my App.js that was hidding it.

[2020-06-30 11:28] #32 closed

[2020-07-19 07:56] haseebb opened #35 "how can i change the border style of cells ? and how to change the text color of side bar on left that displays hours?"

[2020-07-25 16:00] hoangnm commented on #35
Currently, these options are not supported by the library, I'll add them to the todo list.

[2020-07-25 16:30] #17 closed

[2020-08-02 07:09] #21 closed

[2020-08-02 07:12] hoangnm commented on #21
I added the prop to detect the grid view click.

[2020-08-07 08:50] DarshanAjudiya opened #38 "It is not responsive to orientation change."
when i transform from portrait to landscape or vice versa  mode it does not change width of the block.

[2020-08-10 04:09] hoangnm commented on #38
The library does not support this feature at the moment. Are you using for tablet?

[2020-08-10 05:19] DarshanAjudiya commented on #38
no, I'm using a mobile device.
another thing is can you add support of dynamic width as corresponding to its parent component.

[2020-08-22 11:41] Total-Drive opened #39 "Flicker issue in Android while scrolling"
Hi,  I am using your library its really great. Now I am facing 1 issue in Android when I scroll the events right or left the data is flickering but its working fine in iOS. Kindly find the attachment thank you.
[flickering.mov.zip](https://github.com/hoangnm/react-native-week-view/files/5112297/flickering.mov.zip)

[2020-08-26 06:52] tomussss commented on #38
The problem is located within the package styles' height and width variables, i.e. it uses Dimensions.get('screen') to get the current width/height, which is not responsive to orientation change (though the values do change after the rotation is complete).

For now what is create function to detect the max/min dimensions of the screen and use them instead of just screen/window width:
`import {Dime

[2020-08-28 08:00] Total-Drive commented on #39
oh Ok thanks for your advice.

[2020-08-30 01:46] hoangnm commented on #39
Reopened the issue, let's find a way to improve this.

[2020-09-03 14:14] pdpino commented on #39
If the above cannot be done, my proposal would be enabling **infinite horizontal scrolling**, opposed to rendering a fixed number of pages. This would be more robust, as pages that were rendered at some point would only be rendered once.
* At first render, a certain amount of pages should be rendered, for example 2 to the left and 2 to the right, as it is now. I think 1 to the left and 1 to the ri

[2020-09-03 17:38] hoangnm commented on #39
Thanks a lot for your suggestions! I'm trying to implement **infinite horizontal scrolling** using `FlatList`, and the problem is like you mentioned, when scrolling to the left, the scroll position is not keeping because the data is prepended to the array. The problem from react-native is not fixed yet, https://github.com/facebook/react-native/issues/25239.

[2020-09-04 22:01] pdpino commented on #39
Too bad. Maybe using `ScrollView`? I'm not sure which one is more appropriate for this case. I can do some research about this when I have some time :)

What do you think about implementing infinite scroll to just one side (left or right) for now? I think this could be done with either `ScrollView` or `FlatList`

[2020-09-05 04:51] hoangnm commented on #39
Let me try with `ScrollView` to see if it works.

About scrolling to just one side, I think it does not feel natural. I would choose this way as the last option.

[2020-09-05 05:00] pdpino commented on #39
Sorry, I think I misexplained before. I meant scrolling to both sides infinitely, but choosing to arrange the pages from left to right (older to newer) or the other way around.

For example, if choosing from left to right, the scrolling to the right will go fine and smooth, but when scrolling to the left the pages will get prepended, and there will be a flicker.

In any case, the user can scroll t

[2020-09-05 08:13] Fasttrick opened #41 "How can I display only the bussines days ? Like only from Monday to Friday without the weekend days. Thank you!"

[2020-09-13 08:41] zaheerahmad92001 opened #43 "How can i remove Grid ?"

[2020-09-17 23:01] ugoconsonni opened #44 "overlaps problem"
Hi,
I am using the project for a gym.
I find myself in the following situation.
More than 2 event overlaps but the display does not suit me example below.

![119584464_806542396854531_5041719287911953745_n](https://user-images.githubusercontent.com/13661702/93536831-375d9f00-f94a-11ea-8d29-7d3a86354418.jpg)

what i wana

![Capture d’écran 2020-09-18 à 00 53 48](https://user-images.githubusercont

[2020-09-17 23:38] ugoconsonni commented on #44
Its fine i modify Events.js thanks and good night !
![119555635_779190109318894_4203291424340858153_n](https://user-images.githubusercontent.com/13661702/93538877-80fcb880-f94f-11ea-9f50-6b60863c0ba2.jpg)

[2020-09-17 23:38] #44 closed

[2020-09-18 02:06] eiji11 opened #45 "Can we make the header and time text views more stylable?"
This plugin is great but can we please add additional styles to header texts as well as the time texts at the side? I'm not talking about the containers, just the text itself. Additionally, it might also be good if we can change the class/component of the text view. for example, use another text view component from a UI library.

[2020-09-18 05:15] hoangnm commented on #43
Hi @zaheerahmad92001 , could I know more context? What's your use case?

[2020-09-18 06:37] hoangnm commented on #41
Hi @Fasttrick , there's no configuration for it at the moment, I'll put it in the todo list.

[2020-09-22 12:45] mtthbr opened #47 "Retrieve date with onGridClick"
hi !
Is it possible to retrieve the cliked date in addition to startHour with onGridClick(event, startHour) ?

Thanks in advance

[2020-09-22 16:48] pdpino commented on #45
Agree! more styles could be passed as props to the components.

Do you mean the text inside each event? This can already be customized with the `EventComponent` prop, there is an [example in the readme](https://github.com/hoangnm/react-native-week-view#custom-eventcomponent)

[2020-09-23 17:16] pdpino commented on #35
After PR #48 :
* The border style of each event can be customized with the prop `eventContainerStyle`, for example passing: `{ borderWidth: 1, borderColor: 'black' }`. (Is this what you meant by "border style of cells"?)
* The text style of the left bar can be customized with the prop `hourTextStyle`

[2020-09-23 17:17] pdpino commented on #47
With PR #48 the callback has a new parameter with the date: `onGridClick(event, startHour, date)`

[2020-09-26 04:22] Osher671279 opened #49 "How do i change the Swipe left and right methods?"
Hey there,
I would like to change the swipe left and right problems and also i would like to address the issue that its rendering the previous dates and then its rendering the correct dates.

The swipe left and right i want it to fit to how we are usual here in Israel, Swipe left its advance through dates and swipe right its go back to previous dates

I am attaching a video:
[Video](https://vimeo.

[2020-09-26 14:34] Osher671279 commented on #39
Hello, i have the same problem here in Android, How can i fix this??

[2020-09-27 15:43] #35 closed

[2020-09-27 15:43] #45 closed

[2020-09-27 15:43] #47 closed

[2020-09-27 16:02] hoangnm commented on #49
Hi @Osher671279 , I can't see the video, but I think I understand the issue, it's like `rtl` mode. Let me try to implement it.

[2020-09-27 16:07] hoangnm commented on #39
I understand what you meant, @pdpino , that makes sense! It's the behaviour when I tried switching to infinite scroll, will raise the PR soon!

[2020-09-27 16:33] Osher671279 commented on #49
Okay bro in waiting

[2020-10-02 14:03] yanir401 opened #50 "description unreadable with short duration events"
![image](https://user-images.githubusercontent.com/65459107/94931672-b3babb00-04d0-11eb-9f0d-48ba3ac50f97.png)
Any recommendations for a workaround?

Thanks

[2020-10-02 14:38] yanir401 commented on #50
Hi there, I managed to find a solution with the hoursInDisplay, but now I have a new issue when I'm booking events in sequence. see the image:
![image](https://user-images.githubusercontent.com/65459107/94935674-00ed5b80-04d6-11eb-8fe6-d8afb1665d93.png)

also, do you have a way to limit the hours inside the view (based on the range of hours of fetched data)

Thanks

[2020-10-02 15:58] pdpino commented on #50
Don't know if is the best idea, but you could use the `EventComponent` prop, and pass a custom react component that includes a text and adjust the size:
[code]
In `calculateFontSize()` you would customize the font size given the height of the event: if the event is too small, you could make the `fontSize` smaller. You can customize the text further, such as displaying only a shortened description,

[2020-10-02 16:02] pdpino commented on #50
This is because the events are overlapped, i.e. the second event starts at the same time or before the first event ends.
I had a similar problem and applied a hacky solution: added an `allowOverlapSeconds` prop, which indicates the amount of seconds the events can be overlapped without displaying them smaller in width. For example, if your events are overlapped by 1 second, using `allowOverlapSeco

[2020-10-02 16:02] pdpino commented on #50
This is the purpose of the `hoursInDisplay` prop, to indicate the amount of hours showing (e.g. if `hoursInDisplay == 12`, the component should show from 8am to 8pm). I think the amount is currently miscalculated, and the hours actually displayed are less (e.g. if you set `hoursInDisplay = 12`, it may show only 10 or 11 hours). We could try and fix this bug.

[2020-10-03 12:59] Osher671279 commented on #49
Hey Bro
Any update? May i kindly ask you to try implement this ASAP? its top priority for my project

[2020-10-03 13:36] pdpino commented on #49
Hi @Osher671279

I think this should not be hard to implement, but it should be done after PR #51 is merged, as it changes some important internal scrolling logic.
I can try to implement this next week :slightly_smiling_face:

By the way, I get a video-not-found here :slightly_frowning_face:

[2020-10-05 04:45] hoangnm commented on #39
I just merged this MR, https://github.com/hoangnm/react-native-week-view/pull/51, applying infinite horizontal scrolling. The flicker on one side is kind of annoying, but I think this is a better way to handle scrolling. Let see if we can fix the flicker issue...

[2020-10-05 04:55] hoangnm commented on #50
@pdpino about the events in sequence issue, I agree that the width of event items should be full width of the column. But can we just have a constant for it?

[2020-10-05 21:31] pdpino commented on #50
@hoangnm do you mean not passing as prop? something like `ALLOW_OVERLAP_SECONDS = 2`?
Sure, I can do that

[2020-10-05 22:32] pdpino commented on #49
@Osher671279 is something like this what you need? (disregarding the flicker)

![rn-week-view-rtl-feature](https://user-images.githubusercontent.com/20805451/95138776-727d1200-0741-11eb-8a19-7c3d782d54a5.gif)

[2020-10-05 23:37] pdpino commented on #49
#52 adds this functionality: set the `rightToLeft` prop to `true`

[2020-10-05 23:40] pdpino commented on #39
Great! I agree that this is better way.

In #52 I added the prop `prependMostRecent`, to have the flicker on the most-recent-dates side of the scrolling. Feels kind of hacky, but I think is useful for use cases where there is only past events (like mine :slightly_smiling_face:), at least for now

[2020-10-05 23:47] pdpino commented on #14
Tapping on the grid is supported with the `onGridClick()` method

[2020-10-06 04:17] Osher671279 commented on #49
Wow thanks i wil check this out

[2020-10-09 18:29] pdpino commented on #39
I think the **definitive solution** is to set the prop `maintainVisibleContentPosition` on the `VirtualizedList` (which comes from `ScrollView`, see [prop here](https://reactnative.dev/docs/scrollview#maintainvisiblecontentposition)).

Sadly, is only implemented for iOS now, see [this issue](https://github.com/facebook/react-native/issues/29055) and [this PR](https://github.com/facebook/react-nati

[2020-10-20 21:31] pdpino opened #54 "Can't navigate/move to date"
**Bug:** If the user changes the prop `selectedDate` after the initial render, the component does not move to the new date selected.

**Expected behavior:** the component should move to the selected date as indicated by the `selectedDate` prop.

**Where in the code:**
After [this commit](https://github.com/hoangnm/react-native-week-view/pull/51/commits/45eec8b1f7ce7a3c3fbef44ae14b14ed067d809c) the

[2020-10-30 04:06] jion-kozonos opened #55 "fix: The arrangement of the days shifts when the numberOfDays is 7"
please modify like the following

from
[code]
to
[code]
`initial -= moment().isoWeekday(); ` => `initial -= moment(date).isoWeekday();`

This code works properly.

[2020-10-30 16:25] #49 closed

[2020-10-30 16:40] hoangnm commented on #54
Hey @pdpino , many thanks for the suggestions! I removed that code because I thought we rarely need to update the `selectedDate`, but it seems that sometimes we still need it. I agree with you that the first option is better in this case. It's truly awesome if you can raise the PR 🙏 .

[2020-10-30 16:46] pdpino commented on #54
Sure! I will send a PR soon

[2020-10-30 16:52] hoangnm commented on #54
Great! Thanks!

[2020-10-30 20:32] pdpino commented on #50
@yanir401 were u able to apply a workaround for your use case? The latest PR #53 should fix the overlap problem

[2020-10-30 23:58] pdpino commented on #55
I think you are right, this causes the week not to start on mondays, when `numberOfDays = 7` and `selectedDate != today`. (If `selectedDate` is set to today, the error does not occur).

I can send a PR with this change

[2020-10-31 13:20] jion-kozonos commented on #55
@pdpino please change it. Thanks!

[2020-11-01 07:04] Total-Drive commented on #54
Hi @hoangnm, I am also feeling the same. In the last version I am using the selected date and change my app ruction based on it now I am not able to do that. Can you please add the option.

[2020-11-02 23:09] pdpino commented on #54
PR #56 added the `goToDate(date, animated = true)` method, i.e. changing the `selectedDate` prop won't have any effect, but using `goToDate()` should change the date

A note about performance:
* If the user navigates to a date that has already been rendered (i.e. is already contained in the `state.initialDates`), the movement should go very smooth
* If the user navigates to a date that has not bee

[2020-11-03 16:19] #55 closed

[2020-11-08 01:15] RimApp commented on #50
Nice, I encountered the same problem, when will the changes be integrated on the master ?

[2020-11-09 10:53] Total-Drive commented on #54
Thanks @pdpino

[2020-11-09 14:00] pdpino commented on #50
@RimApp which problem of the described here? the (1) description unreadable with short events or (2) events in sequence overlapping?

For (1), you should be able to apply any of the fixes [described in the comment above](https://github.com/hoangnm/react-native-week-view/issues/50#issuecomment-702816068). If that does not work for you, please let me know.

For (2), the **changes are already merged

[2020-11-10 09:13] flobady commented on #50
it works perfectly on the master branch. would you consider publishing a release with all these changes? the last release was end of September.
Thank!

[2020-11-11 13:36] RimApp commented on #50
My bad, it's work perfectly :)

[2020-11-19 06:47] Arslan106 commented on #41
is there any update on it?

[2020-11-19 11:28] pdpino commented on #41
This is not implemented for the moment.

To have more context, @Fasttrick or @Arslan106:
1. do u need the component to scroll through dates? or you want to show from monday to friday on a fixed week?
2. do u need only the 5-day view? or do you also need to display 1, 3 or 7-days but skipping saturday and sunday?

[2020-11-19 11:29] pdpino commented on #50
@hoangnm I think u can close this issue?

[2020-11-19 12:08] Arslan106 commented on #41
@pdpino thanks for you quick response well i need to display  7-days but skipping saturday and sunday?

[2020-11-19 12:34] pdpino commented on #41
Ok so, just to clarify a bit more, with 7-days it would look something like this: (the week is in parenthesis)

`monday(w1) - tues(w1) - wed(w1) - thurs(w1) - friday(w1) - monday(w2) - tues(w2)`

And after a scroll to the right (moves 7 days):

`wed(w2) - thurs(w2) - friday(w2) - monday(w3) - tues(w3) - wed(w3) - thurs(w3)`

It looks like a weird behavior, to be honest :grimacing:, because it shif

[2020-11-30 11:42] KrishnanRanjithkumar opened #58 "Can we select time range on the grid?"
Is it possible to selecting a time range by clicking on the grid and dragging down or up?

[2020-11-30 20:35] pdpino commented on #58
This is not implemented for the moment.
For now, there is only the `onGridClick()` prop to receive clicks on the grid

[2020-12-02 10:00] KrishnanRanjithkumar commented on #58
Thanks for the reply @pdpino

[2021-01-12 05:48] rdewolff commented on #14
When do u plan to add this feature @hoangnm ?

[2021-01-18 22:01] pdpino opened #59 "Three-events overlapping issues"
**Improvement 1:** When three or more events are overlapped in time, see the current layout (left), and a better arrangement (right) wasting less horizontal space:

![image](https://user-images.githubusercontent.com/20805451/104965191-effd2300-59bc-11eb-8d18-d33517b1ae63.png) | ![image](https://user-images.githubusercontent.com/20805451/104965308-3b173600-59bd-11eb-8aca-5c00689a11e6.png)

---

**I

[2021-01-23 01:02] #54 closed

[2021-01-23 01:03] hoangnm opened #60 "Add changelog"

[2021-01-23 01:06] hoangnm commented on #59
Nice, can't wait to see the MR!

[2021-01-23 01:07] hoangnm commented on #50
yes, thanks for your help @pdpino !

[2021-01-23 01:07] #50 closed

[2021-02-07 09:08] dentep opened #64 "Example is not working"
Tried your example. The error appears in Header.js Line 21.
![Screenshot 2021-02-07 at 12 08 01](https://user-images.githubusercontent.com/51183188/107141994-2df6c280-693d-11eb-9204-a96ddbd4ae6b.png)

[2021-02-07 17:26] pdpino commented on #64
Indeed, `style.color` is undefined, as it comes from the [`styles.header`](https://github.com/hoangnm/react-native-week-view/blob/master/example/App.js#L100) object. But I don't see this error in android with RN 0.62.0 (maybe ios or other RN-version forbid `color` to be undefined?).

@dentep A hotfix for now would be to set any color value in the `styles.header` object mentioned before, like `colo

[2021-02-07 17:28] pdpino commented on #64
@hoangnm  I submitted a PR with the first change suggested. Let me know if you prefer a different solution

[2021-02-13 01:20] #64 closed

[2021-02-13 15:07] #59 closed

[2021-02-19 09:35] csail14 opened #66 "Display event"

[2021-02-19 17:35] pdpino commented on #66
Events with a zero duration (i.e. start and end at the same time) will not be seen. Try with an event that has a positive duration, for example a 1-hour event:

[code]

[2021-02-20 05:33] vipin-ios opened #67 "Drag & Drop event in particular time and date slot."
Hi

is anyone help me out to drag & drop event in particular time and date slot?

Thanks!

[2021-02-20 05:36] vipin-ios commented on #14
Hi
is any update on this feature? when do you plan to add this please let us know.

[2021-02-20 19:45] pdpino commented on #67
Duplicated of #14 , please close the issue :slightly_smiling_face:

[2021-02-20 19:46] pdpino commented on #14
I can try to implement this feature, though in about 2-4 weeks :slightly_smiling_face:

[2021-02-21 06:08] rdewolff commented on #14
That would be great!

[2021-03-01 07:14] FoolCoder opened #70 "EndHour"
how to define end hour like i want to end time at 5:00pm, how is this possible??

[2021-03-03 17:31] pdpino commented on #70
You mean that all days end at a given hour, and it cannot be scrolled down beyond that hour?
That feature is not supported for the moment.

[2021-03-05 10:02] vidhikalola2311 opened #71 "Can I achieve this using this library"
Can I achieve this using this library?

![Screenshot 2021-03-05 at 3 30 01 PM](https://user-images.githubusercontent.com/75669430/110099862-cdd22f80-7dc7-11eb-81e3-e28d8eb4fa03.png)

[2021-03-20 17:49] pdpino commented on #14
Update: I'm currently working on this, hope to have a first working version in a week or so

[2021-03-20 19:35] rdewolff commented on #14
Amazing, looking forward seeing the results 😀

[2021-03-27 19:07] pdpino commented on #14
I have a first working version :smiley:

![rn-week-view-feature-drag-and-drop-2](https://user-images.githubusercontent.com/20805451/112730958-3cac2f80-8f13-11eb-8ddd-e24b242a227e.gif)

I updated the docs with the instructions on the two new props: `isDraggable` and `onDragEvent`.
Any comments/suggestions for functionality or documentation are welcomed!!

Some caveats:

* When you drag an event fro

[2021-04-02 03:31] #60 closed

[2021-04-12 10:20] Jack-Alfie opened #73 "Is it possible to use the red line at current time like in default diary in iOS?"
![IMG_AF4F2AAD0744-1](https://user-images.githubusercontent.com/49557103/114379253-31f5c980-9ba6-11eb-94b2-43557af97b7f.jpeg)

I am using your library for my app. It's really great. Now I need to add the red line at the current time in diary. I have attached the screenshot for your reference.  can you able to add that future for me?

[2021-04-12 17:16] pdpino commented on #73
Sounds like a nice idea! I could try to implement it.

Question: Should the line update in real-time?

[2021-04-12 17:17] pdpino commented on #71
Not really, the y-axis provided by this library is the hour of the day (not custom items, like your example)

[2021-04-14 17:23] brandonrush99 opened #74 "Is it possible to disable swiping?"
I'm trying to make a weekly school schedule where I want the Mon-Fri events to be the same. Is there any way to disable swiping? If not, is there an easy way to repeat the events?
*Edit: By swiping i am referring to horizontal swiping. The vertical scroll is fine for me.

[2021-04-14 21:41] pdpino commented on #74
There is no way to disable horizontal swiping at the moment. About repeating the events, this library does not provide an easy way to do that; and is also not recommended to repeat the events infinitely, as the component may get slow performance.

I was thinking about implementing a component such as `FixedWeekView` (or other name), to enable showing only one week (without swiping horizontally). W

[2021-04-15 03:35] brandonrush99 commented on #74
That's pretty much exactly what I am looking for, so that'd be awesome!

[2021-04-15 22:38] pdpino commented on #74
I created a `FixedWeekView` component, for now you can test it in [this branch from my fork](https://github.com/pdpino/react-native-week-view/tree/feature/fixed-week), see the docs [here in the readme](https://github.com/pdpino/react-native-week-view/tree/feature/fixed-week#fixedweekview).

Consider the API experimental for now, until is merged to this repo (i.e. the definitive API may change!)

C

[2021-04-16 00:57] pdpino opened #76 "Bug: dates are incorrect (shifted) on grid click"
When `numberOfDays === 7`, dates are shifted causing an incorrect date `onGridClick`.
See this from the `example/` app:

![rn-week-view-bug-initial-dates-shifted](https://user-images.githubusercontent.com/20805451/114955901-a9885a80-9e2b-11eb-8998-5c235b1f8161.gif)

I pressed April 15, and `onGridClick` returned April 18; then I pressed April 13, `onGridClick` returned April 16. There is a shift o

[2021-04-16 01:02] brandonrush99 commented on #74
Thank you! I'll check it out and let you know how it goes!

[2021-04-16 02:00] brandonrush99 commented on #74
So I am not sure if maybe I am just doing something wrong, but anytime I put the FixedWeekView inside of a normal View, it breaks the FixedWeekView to where I cannot see the times or scroll. Any advice?

[2021-04-16 02:00] pdpino commented on #73
I implemented a "now-line", a red line with a circle to the left.
Set using the prop `showNowLine={true}`, and the `nowLineColor` prop to customize the color (defaults to red).

![image](https://user-images.githubusercontent.com/20805451/114960136-6ed6f000-9e34-11eb-80d1-4508ebd9bf61.png) ![image](https://user-images.githubusercontent.com/20805451/114960161-7c8c7580-9e34-11eb-8b97-04360a98bd25.png

[2021-04-16 02:11] pdpino commented on #74
Have you tried the `WeekView` component in that setting (inside of a View)? If `WeekView` works, `FixedWeekView` should work too.

Can you provide a code snippet?

[2021-04-16 13:45] pdpino opened #79 "Add license"
I think the project should have a LICENSE file.

I would suggest the [MIT License](https://choosealicense.com/licenses/mit/), which is usually suitable for open-source projects, but others could work too

[2021-04-16 15:21] #76 closed

[2021-04-16 15:25] hoangnm commented on #73
Should the line always be full width, no matter what the `numberOfDays` is set, @pdpino ?

[2021-04-16 15:28] Total-Drive commented on #73
@pdpino  Thank you, I really. happy about this feature. I will use this option.

[2021-04-16 15:51] hoangnm commented on #73
I see, then I believe we can follow the same display as the android calendar. We can consider the full-width option later.

[2021-04-17 18:31] pdpino commented on #74
@brandonrush99 I changed the API.

Removed the `FixedWeekView` component to make the code simpler, the same `WeekView` component can be used to display a fixed view. Here a full example:

[code]

The code is still in [this branch from my fork](https://github.com/pdpino/react-native-week-view/tree/feature/fixed-week). You can test it from there, or wait on the PR to be merged :slightly_smiling_face

[2021-04-17 21:52] pdpino opened #80 "Library future plans and expectations"
Hi @hoangnm

What future plans and/or expectations do you have for this library? I think is a great library! and I would like to continue contributing to it.

If you intend to continue actively developing and growing the library, I would suggest completing some chores:

* Add some basic tests
* Label issues (bug, feature request, high priority, etc)
* Enrich the README, we could:
  * Add installat

[2021-04-19 15:27] hoangnm commented on #80
Hi @pdpino, I really appreciated your contribution, you helped to improve the library from the performance to the new features! I agree that we should add these stuff, I did plan to add some test cases also. Let's improve these chores!

[2021-04-19 17:07] pdpino commented on #80
Great!

Could you give me permissions to label and close issues? I could help keeping that organized.
If you rather not, that's fine too :slightly_smiling_face:

[2021-04-19 23:33] hoangnm commented on #80
No problem! I just granted access to you.

[2021-04-19 23:54] pdpino commented on #66
Closing this for inactivity, feel free to re-open if needed

[2021-04-19 23:54] #66 closed

[2021-04-19 23:57] pdpino commented on #71
Closing due to inactivity, feel free to re-open if needed!

[2021-04-19 23:57] #71 closed

[2021-04-19 23:58] #67 closed

[2021-04-21 16:03] Anzelina opened #81 "Grid background color"
How to change background color of grid container?

[2021-04-21 16:12] #81 closed

[2021-04-22 03:43] pdpino opened #83 "Need to install moment to run example app"
I am not able to run the `example/` app without explicitly adding `moment` as dependency to `example/package.json`. If I don't do this, it throws this error:

[code]

* Since `react-native-week-view` is added as a link to a parent folder (i.e. in `example/package.json` is listed as `"react-native-week-view": "file:.."`), the `moment` dependency falls into `example/node_modules/react-native-week-vi

[2021-04-22 05:07] #73 closed

[2021-05-10 10:55] jeminsieow commented on #58
This would be an awesome feature!

[2021-05-10 11:05] jeminsieow opened #91 "Is it possible to change the height of each time slot?"
Is it possible to change the height of the time grid? I want to be able to squeeze more timings in the screen.

Something like this:

![image](https://user-images.githubusercontent.com/26967037/117649720-70d96800-b1c2-11eb-820f-ab58c060cf8a.png)

Loving the library, thanks in advance!

[2021-05-10 14:15] jeminsieow opened #92 "Is it possible to change the background color of specific time blocks?"
![image](https://user-images.githubusercontent.com/26967037/117672849-ce7aae00-b1dc-11eb-9179-a6383341bdb1.png)

I'm using this library to create a group calendar and it's pretty amazing so far!

Is it possible to change the background color of specific blocks of time? ie. from an array of startDate and endDate objects similar to events.
The use case would be to show when the group is free (the gr

[2021-05-10 16:55] pdpino commented on #58
We can give this a try!

I have a question, how should it be the visual feedback while the user is dragging? Display a placeholder event? @KrishnanRanjithkumar @jeminsieow do you have any examples?

@hoangnm what do you think about this feature?

[2021-05-10 17:15] pdpino commented on #91
I think we can improve this and give more control to the user. I propose the following:

* Add a `timeStep` _(Number)_ prop, which would allow the user setting the step used in the time labels. Examples:
    * if set to `timeStep={60} // minutes`, the labels will be 12:00, 13:00, 14:00 and so on.
    * if set to `timeStep={30} // minutes`, the labels will be 12:00, 12:30, 13:00 and so on.
* Hence,

[2021-05-10 18:10] jeminsieow commented on #58
@pdpino Awesome thank you!
As for the visual feedback, I think Doodle does this really well. The entire time block is movable and has a circle at the bottom, telling users that it is draggable. While dragging, there is a bit of transparency allowing users to see the events underneath it. This then becomes more opaque once the user lets go.

Furthermore, it allows multiple time ranges, which will b

[2021-05-10 18:14] jeminsieow commented on #91
@pdpino I think adding the timeStep would be the perfect solution.

[2021-05-10 18:42] pdpino commented on #91
Ok, I will try to implement this, hopefully this week!

[2021-05-10 19:01] pdpino commented on #58
Nice examples! Thanks!

So the interaction would be: the user makes a first press/long-press, the "new-event" placeholder appears, and allows expanding it down (by dragging the border), and allows moving it through the week-view (by dragging the full component).

* How does the user indicates it is done editing?
* Regarding the first press:
  * If a press is needed, it would conflict with the `onG

[2021-05-10 19:35] KrishnanRanjithkumar commented on #58
Hi @pdpino Thanks!!. I would suggest , It is better to separate adding events and editing events(in this case moving it through the week-view).
So, the event flows for adding events like
       user long press(on empty grid) -> placeholder appears -> user expands by dragging it -> event ends when the user stops dragging

if the user long presses on the already created event, we can have another ca

[2021-05-10 20:44] pdpino commented on #58
Thanks @KrishnanRanjithkumar for the suggestions! I like the idea of separating the user interactions.

The drag and drop behavior is actually discussed in #14 (we are currently working on a PR to finish that feature)

I will try to implement this feature soon. Any more comments and suggestions are appreciated :slightly_smiling_face:

[2021-05-10 20:45] jeminsieow commented on #58
@pdpino Thanks for the response and clarifying! This is what I have in mind:

1. The convention of saving events from Google and Doodle would be a separate button on the screen to save the event.
To follow this convention, perhaps having a callback function that would allow devs to store the placeholder start and end datetimes every time there is a change in the time blocks. (Maybe an array to sup

[2021-05-11 00:11] pdpino commented on #58
I see what you mean, @jeminsieow

1. Sounds interesting, but I will start trying to implement a simpler behavior, such as the one described by @KrishnanRanjithkumar  in the comments above. From there, we can see if it is appropriate to add more complexity to this library, or if those cases should be handled by each developer in their own app.
2. I agree, `onGridClick` (existing prop) and the upcom

[2021-05-11 07:22] jeminsieow commented on #92
This works perfectly! Thanks a lot @pdpino

[2021-05-11 23:38] RimApp opened #93 "goToDate not working properly"
Hello,

I try to use "goToDate" like the documentation says to update selectedDate prop.

I use "goToDate" prop to go to today date.
When I am :
-On the today date -1 day (11/05/2021) and less => OK. Navigate to the today date.
-On the today date (12/05/2021) => OK. Nothing happen.
-On the today date +1 day (13/05/2021) =>**KO. Nothing happen.**
-On the today date +2 days and more =>**KO. Navigate

[2021-05-12 01:16] pdpino commented on #93
Hi @RimApp ,

Thanks for the detailed description. At first, it looks that there may be a of-by-one error on the `goToDate()` method.

If available, could you test what happens when you are in +3, +4 days? And -2, -3 days?

I will test this by myself soon, and let you know what I find.

[2021-05-12 03:26] RimApp commented on #93
Hi @pdpino,

Thanks you for your quick reply.
+3, +4 days and the other superior days => **KO. Navigate to the today date+1, so 13/05/2021.**
-2, -3 days and the other inferior days => OK. Navigate to the today date, so 12/05/2021.

[2021-05-12 15:44] hoangnm commented on #91
Thanks, @pdpino, it's a good idea to have the `timeStep` prop. However, by having to use two props, it may be hard to understand for anyone trying to set the height of the time slot. I'm thinking that if we can let a user set the height they want instead.

[2021-05-12 15:55] hoangnm commented on #79
Thanks, @pdpino, I added the MIT License.

[2021-05-12 15:56] #79 closed

[2021-05-12 16:48] pdpino commented on #91
That's true. I think that problem comes from the `hoursInDisplay` prop, rather than `timeStep`. For example, think of a prop `slotHeight`, if an user sets `slotHeight={30}` (in pixels), the `hoursInDisplay` prop would not be needed, but still the component needs to know how many minutes to use as step (a time-step), e.g. 30 minutes, 1 hour, etc. In other words `slotHeight` is independent from `tim

[2021-05-13 08:15] goodgood111 opened #95 "Month View."
How can I change this api to Month View??

is there any possible way??

[2021-05-13 15:41] pdpino commented on #95
For the moment, there is no option to display as a month view.
This would be an interesting feature!

[2021-05-15 12:33] tnghia944 opened #96 "Click the button to switch to the new/previous week"
hi all
instead of scrolling left to right, can i click on the button to do this
<img width="281" alt="Screen Shot 2021-05-15 at 7 32 47 PM" src="https://user-images.githubusercontent.com/53257922/118361184-5df4d800-b5b4-11eb-9fd4-a291a8a3f098.png">
I am currently using goToDate, is that the best way? , when I already know index + 1 / index -1
  const dateTarget = moment(currentMoment).add(isNext ?

[2021-05-15 21:51] pdpino commented on #96
Hi @tnghia944 Currently, there is no specific way to change pages programatically, other than swiping. As a workaround, you can use `goToDate(date)`, providing a date in the next or prev week.

I think using this code inside the `WeekView.js` would work, though I haven't tested it (and I don't think is the optimum solution).

[2021-05-15 21:53] pdpino commented on #96
I'd say we can implement methods to move programatically, something like `goToNextDate()` and `goToPrevDate()`.
What do you think @hoangnm? I think it would be straight-forward by reusing code from `goToDate()`

[2021-05-15 22:11] pdpino commented on #93
@RimApp I fixed this and sent a PR :slightly_smiling_face: . It was a small issue in `goToDate()`

[2021-05-16 00:06] pdpino commented on #91
I created a PR adding the `timeStep` prop.

@jeminsieow with this, you should be able to increase `hoursInDisplay`, keep `timeStep={60}` (the default value) and be able to squeeze more time-labels in the screen, as your example.

@hoangnm I think we could add this prop to give more control to the users, and figure out what to do with `hoursInDisplay` and `slotHeight` later.

[2021-05-16 00:28] pdpino commented on #96
Ok, I implemented both methods in a PR: `goToNextPage()` and `goToPrevPage()`

@hoangnm let me know what you think!

@tnghia944, for now, you can test this from [this branch in my fork](https://github.com/pdpino/react-native-week-view/tree/feature/go-to-next-page) :slightly_smiling_face:

[2021-05-16 01:07] tnghia944 commented on #96
hi @pdpino pd
thank you for your support, now when i press next button everything is ok, i can see the calendar scrolll left to right very well, but when i press the prev button the calendar still changes but the not scroll, you can see this?

[2021-05-16 01:21] pdpino commented on #96
Yes, I see the same.

This has to do with this old issue: #39. As a summary:
* When the user moves to a date that has not been rendered, a date object has to be added to an array
* If the date is appended (added to the end of the array), everything tends to be smooth (moving to the next page, in this case).
* If the date is prepended (added to the beginning of the array), things may not be so smoo

[2021-05-16 01:22] pdpino commented on #96
A comment about smoothing vs laggy behavior:

* If the primary use case of your app is to go to the past (previous pages), you can set the prop `prependMostRecent={true}`, and things will be smooth to the previous pages (and laggy to the future pages).
* If the primary use case of your app is to go to the future (next pages), you should leave `prependMostRecent={false}` (the default): things will

[2021-05-16 01:29] pdpino commented on #93
This was fixed with PR #99 , that included changes from the original PR

[2021-05-16 01:29] #93 closed

[2021-05-16 06:44] jeminsieow commented on #91
@pdpino Looks good! When can it be merged?

[2021-05-16 10:33] #91 closed

[2021-05-16 10:34] hoangnm commented on #91
Agreed, @pdpino , @jeminsieow . I just merged the PR.

[2021-05-17 23:08] RimApp commented on #93
Thanks you its work :)

[2021-05-19 06:45] darnell-siten opened #102 "Change Hours to AM/PM"
Great library! Is there a way to change the hours on the left side to say AM or PM?

[2021-05-19 10:28] pdpino commented on #102
There is no way to change that currently, but I can implement it

[2021-05-20 01:35] AlissonEnz commented on #58
This feature would be awesome! 😄

[2021-05-21 15:29] #74 closed

[2021-05-21 15:29] hoangnm commented on #74
The PR for this improvement has been merged.

[2021-05-23 01:39] pdpino commented on #58
I'm working on this, and I have a first working version. I separated the user interaction in three steps: creating, moving and editing the bottom of an event. The developer must update the DB externally in each of these interactions

1. The user press (or long press) the empty grid and an event gets created. In this step, I guess you could include a modal or other UI so the user can input title, c

[2021-05-24 16:38] jeminsieow commented on #58
@pdpino I think that looks great! I agree with separating steps 1 and 3.

In view of the disadvantage you mentioned, I think it would be great if it was possible for the developer to choose the trigger for the "editing mode", to allow either on-event-press or on-event-long-press, instead of just on-event-long-press.

[2021-05-24 17:05] jeminsieow commented on #92
Hi @pdpino , how will this work if I want the event will be over the colored grid? Something like this:

![image](https://user-images.githubusercontent.com/26967037/119379734-6c4c9d80-bcf2-11eb-9224-4ec5c1f3440e.png)

I think the current workaround will halve the "actual event" into 2, something like this:

![image](https://user-images.githubusercontent.com/26967037/119382950-555b7a80-bcf5-11eb-94

[2021-05-24 18:41] pdpino commented on #92
I assume you have two events in tuesday 11: the blue event, and an event from 14hrs to 23hrs. The events are overlapping, hence their width is reduced so they fit in the screen. To avoid this, you would have to change the second event to be from 18hrs to 23hrs, and you should get the expected behavior.

[2021-05-24 18:48] pdpino commented on #58
Sounds good. Would have to add a prop like `editEventMode="press"|"longPress"`, or something similar

[2021-05-25 04:56] jeminsieow commented on #92
@pdpino  That's correct. While I understand the workaround, it really limits the application of the "available timeslots", as events cannot be created on it. For the application I'm using it for, an overlap of the "available dates" and "actual events" is required.

Is it possible to set an array of time ranges, with its own Component, but keep the grid functionality? (ie. onGridClick, and allowing

[2021-05-25 22:34] pdpino commented on #92
@jeminsieow to make sure I understand correctly: do you need to be able to press the actual events? (using `onPressEvent`). I suppose the answer is no. If yes, what happens when the user press a point that is overlapping between a placeholder-event and an actual-event? (e.g. tuesday 16hrs). Should the touch go to the actual event (blue) or the placeholder (light green)?

Regarding this, there is n

[2021-05-25 22:36] pdpino commented on #92
As a side note, consider `onGridClick` only provides precision up to the hour (not minutes or seconds). If you need, we could add precision up to the minutes, although the press with the fingers is usually not so precise.

[2021-06-01 18:24] dineshdevkota001 opened #104 "Show Currently Active day indicator"
Thanks for a great library. I ran through the documentation but couldnt find a way to highlight current day header. Did i miss something?
Thank you,

[2021-06-01 20:43] pdpino commented on #104
Currently, there is no way to highlight today in the header. You can use the `showNowLine` prop to display a line in the hour and current day (but it shows on the grid, not on the header).

I think we can add a prop to allow special styling for today in the header. @dineshdevkota001 any suggestions on how the highlight should look?

[2021-06-02 02:55] dineshdevkota001 commented on #104
Not so much, an Indicator for the current date works. or we can just highlight it in a rounded box.

[2021-06-07 04:53] jeminsieow commented on #92
Hi @pdpino, thanks for the reply.

For this, I actually do need to press the actual events. In the case that the actual event overlaps the placeholder-event, the touch will go to the actual event and not the placeholder. (This behaves like onEventPress having priority over onGridPress).

The placeholder (green spaces) is just a change in background of the grid.

Really appreciate the help!

[2021-06-07 19:22] pdpino commented on #92
@jeminsieow I see. For now, I think we cannot implement a specific solution for this problem, something like `backgroundEvents=[...]` or `timeslots=[...]` (placeholder-events that would be placed in the grid, but do not get halved if there is an overlap, and have less priority than actual-events). It looks like this is too specific, and could still be solved in your app code (see comment below). A

[2021-06-07 19:22] pdpino commented on #92
I think the current solution would be:

* Using `onEventPress` as press-callback, and distinguish actual-events vs placeholder-events with a boolean like `isTimeslot` (like the first example I provided)
* Providing actual-events and placeholder-events in the `events` prop
* Decouple available-time-slots and placeholder-events (like the last example I provided), and making sure placeholder-events d

[2021-06-08 08:44] jeminsieow commented on #58
Hi @pdpino, is there a branch where we can test this feature?

[2021-06-08 11:59] #102 closed

[2021-06-08 12:00] #96 closed

[2021-06-08 15:57] pdpino commented on #58
Sorry @jeminsieow, not yet. I will set up a branch for early testing, hopefully by the end of this week.

For now, you can check [this branch](https://github.com/pdpino/react-native-week-view/tree/feature/drag-and-drop) with the drag-and-drop feature. The new branch will build on top of this one.

[2021-06-13 23:10] pdpino commented on #58
@jeminsieow, I pushed this code to a branch in my fork: in [feature/wip/drag-and-create](https://github.com/pdpino/react-native-week-view/tree/feature/wip/drag-and-create). It supports the props `onDragEvent` and `onEditEventEndDate`, like the example provided before. Consider the API completely experimental, and the code is not cleaned yet. Any suggestion or feedback is appreciated!

There is a k

[2021-06-15 13:20] jeminsieow commented on #58
@pdpino Thanks for the update! Currently I'm having some trouble, the "edit mode" doesn't seem to be working for me; Press and hold on event does not go into edit mode. Is the implementation wrong?

Here's the code:
![image](https://user-images.githubusercontent.com/26967037/122059525-4f057d80-ce1f-11eb-92c3-79789be1cb0e.png)

Here's a video:
https://user-images.githubusercontent.com/26967037/1220

[2021-06-15 14:25] pdpino commented on #58
@jeminsieow sorry, this is a bug.

Try setting the `onEventPress` to something, even to a dummy function if you do not need it, like `onEventPress={() => {}}`.

Since that method is null, the touchable-opacity gets disabled, and the long-press also gets disabled.

I will fix this soon!

[2021-06-15 14:35] pdpino commented on #58
@jeminsieow I just pushed to the branch setting `disabled={false}`, so this should not occur anymore (i.e. you should be able to not provide `onEventPress={something}` and be able to long-press the events to edit them)

If this does not work, or anything else comes up, let me know!

[2021-06-16 09:14] jeminsieow commented on #58
@pdpino Alright that works now, but there's another issue:

On a physical device, it's impossible to get into the "edit mode" as the drag command will override the tap and hold. (This is because there's definitely going to be some movement when the finger taps on the device, unlike using a mouse and clicking it)

Once I remove the onDragEvent, I am then able to get into edit mode.

[2021-06-16 11:57] pdpino commented on #58
@jeminsieow I see. Thanks for the feedback! I haven't actually tested this on a physical device yet.

As a possible solution, I added a check to see if the finger [has moved enough](https://github.com/pdpino/react-native-week-view/blob/feature/wip/drag-and-create/src/Event/Event.js#L14) before enabling the dragging. I choose 2 (pixels), but we may need to choose a different number to work properly

[2021-06-17 20:10] dandresfg opened #107 "Custom Render Method"
The possibility to create a custom component for events.

The library needs to provide a way to customize at 100% the render method, can provide the coordinates by props, or apply them in a simple father view of every event... To be sure they cannot modify them.

Good library, ill use it soon.

[2021-06-17 20:34] pdpino commented on #107
Hi @dandresfg , thanks for the suggestion!

Could you provide more details on what you want to achieve? You want to customize the render method for the event component? or for other part? It would be useful if you could provide an screenshot, or a concrete example of your use case.

The events can already be customized with the [`EventComponent` prop](https://github.com/hoangnm/react-native-week-v

[2021-06-18 14:05] dandresfg commented on #107
Yep, that's exactly. Kinda blind by myself.

[2021-06-18 14:05] #107 closed

[2021-06-18 15:57] dandresfg opened #108 "Refershing/Refresh Control"
Any possibilities of add this ?

[2021-06-18 16:02] pdpino commented on #108
Hi @dandresfg , could you be more specific on what do you need?

If you update the `events` prop, the events get rendered again. Is this what you mean by refreshing?

[2021-06-18 16:13] dandresfg opened #109 "onSwipeNext / onSwipePrev its called twice"
`
      <WeekView
        events={[]}
        selectedDate={new Date()}
        headerStyle={{borderColor: '#f1f1f1'}}
        headerTextStyle={{color: 'black'}}
        hourTextStyle={{color: 'black'}}
        locale={'es'}
        hoursInDisplay={4}
        timeStep={60}
        startHour={1}
        numberOfDays={3}
        EventComponent={renderItem}
        onEventPress={onPressEvent}

[2021-06-18 16:15] dandresfg commented on #108
i mean <ActivityIndicator />. onRefresh in a virtualizedList to reload all events (as example)

[2021-06-19 19:17] pdpino commented on #108
I see. I think we could add a prop `isRefreshing` to show an `ActivityIndicator` in the middle of the week-view grid. However, we cannot add an "pull to refresh" behavior with `onRefresh`, as the week-view grid has infinite scrolling. We could also add a `refreshControl` to customize the spinner component.

@hoangnm what do you think of a `isRefreshing` prop? I think is very straight-forward to im

[2021-06-20 00:12] pdpino commented on #109
Hi @dandresfg, thanks for the report.

I cannot reproduce this issue, I see the callbacks called correctly, check the attached video with the `console.log`s:

https://user-images.githubusercontent.com/20805451/122658365-4f14be80-d13a-11eb-8de2-8c75152151f7.mp4

I used this code with the props you provided:

[code]

I'm using the code in the master branch, on android emulator, with android 8.1.0. C

[2021-06-20 00:40] pdpino commented on #58
Small update: in an effort to split this feature into smaller chunks, I made two small PRs: #110 and #111 with `onGridLongPress` and `onEventLongPress` props to allow more user-interactions

[2021-06-22 19:02] dandresfg commented on #109
A real device, Redmi Note 9S - Android... Now when i swiped it's called three and four times, it mostly happen on swipe prev.

[2021-06-22 20:09] pdpino commented on #109
I will test this again on a physical device.

How do you see that the callback is called multiple times?
Could you provide your full implementation? Specially including the `onSwipeNext` and `onSwipePrev` callbacks being used.

[2021-06-22 20:19] dandresfg commented on #109
Drawer
[code]

Screen
[code]

And that happened in a single swipe:
[Test](https://imgur.com/a/JESX4sz)

[2021-06-22 20:25] pdpino commented on #109
Thanks! I will test this further and let you know what I find

[2021-06-24 16:21] hoangnm commented on #83
Hi @pdpino , I'm checking this issue, and it's working fine from my side without installing `moment` in the example app.

[2021-06-25 16:31] dandresfg commented on #109
this works for me:

[code]

[code]

Not enough time for make a pull request, but you can try this.

[2021-06-26 23:59] pdpino commented on #109
I still cannot reproduce the bug, I tried on a physical device as well. @dandresfg could you provide the `react` and `react-native` versions you are using?

Thanks for the suggestion, I think we can apply something like that, but I want to reproduce the bug first.

Also, it could be better to avoid using the state, something like:
[code]

[2021-06-27 00:47] pdpino commented on #83
I see, maybe there is an issue in my end. @hoangnm could you provide the npm/yarn version you are using? And the sequence of commands or steps you use to run the app (install, run, etc)?

[2021-06-27 04:17] pdpino commented on #83
I used `yarn` instead of `npm` and it works properly.

I think we should only use yarn, and not npm (I was using npm before :sweat_smile:)

[2021-06-27 04:17] #83 closed

[2021-06-28 19:55] IvanAquino commented on #109
i

i have same problem, i'm using
"react": "17.0.1",
"react-native": "0.64.0"

[2021-06-29 00:07] dandresfg commented on #109
Same

"react": "17.0.1",
"react-native": "0.64.0",

[2021-06-29 00:13] dandresfg commented on #109
Why? i dont want to touch any other file of the lib 'til the **pull request**
if you want i can create another repo and make a video showing you the bug

[2021-06-29 01:41] pdpino commented on #109
Using `react: 17.0.1` and `react-native: 0.64.0` I was able to reproduce it and fix it, I will submit a PR soon.

Most likely this is a react-native bug affecting this version (but not 0.62.0), although I cannot find if it has been reported yet.

[2021-06-29 01:49] pdpino commented on #109
To avoid an unnecessary render when calling `useState`. I didn't mean for you to change it, I will submit a PR with the change :slightly_smiling_face:

That won't be necessary, but thanks!

[2021-07-12 23:57] pdpino commented on #108
@dandresfg regarding your comment on the PR:

As I said in the previous comment, **I was not adding the "pull to refresh" behavior for the moment**.
* Horizontally: it cannot be done (infinite scrolling)
* Vertically (i.e. scroll up at the top): I do not agree with this feature for this library. If the user is looking at 4pm, they have to scroll up all the way to 00:00 am to refresh. I think it ma

[2021-07-13 18:28] dandresfg opened #118 "Moving between dates changing the numberOfDays make miss some pages."
Me again, hello.

So, the context is this: Ive been working with 3 as **numerOfDays**, and all is great...
but when i changed it to 1... and come back to the pages previous loaded the week view jumped between 3 days again and not 1.

[You can see what im doing here](https://imgur.com/a/eBN2Ybi)

____ June 30 ____
SwipeNext (1 day) (from here all the events were load with 1 as numberOfDays and it w

[2021-07-13 18:47] dandresfg commented on #108
Sorry, get lost and i wrote in the PR.

I mean, i edited the library to start at 7:00am (Other thing that could be awesome is starting hour, hiding all the previous hours) I got a refreshing, thanks for your code, works great (i put outside the library). I want to add the **pull to refresh** i tried manually but doesnt work (dunno why)

How can i added it by myself ? (and looking for some ideas, c

[2021-07-13 19:16] pdpino commented on #118
Thanks for the bug report. I have seen this too

For the moment, the only workaround is not changing the `numberOfDays` prop, but obviously this is not ideal.

I will try to fix this bug soon

[2021-07-13 20:03] pdpino commented on #108
I setup the pull-to-refresh feature in [this experimental branch](https://github.com/pdpino/react-native-week-view/tree/experimental/on-refresh), should be more or less what you need. See [the latest commit](https://github.com/pdpino/react-native-week-view/commit/ccd91f6c211b99f2d5f9a44ab72743225dce0c60) with the code modifications. You can start from this branch and make more custom changes as ne

[2021-07-13 20:10] pdpino commented on #108
Regarding this topic, the #70 issue asks for a similar feature (end-hour at the bottom). The full implementation I'd say is tricky, there are multiple edge cases to handle, and more.

If you already implemented it, you are welcome to send a PR or share the code, if you'd like!
If so, I kindly ask you to move the discussion to that issue or create a new one :smiley:

[2021-07-13 20:40] dandresfg commented on #108
The video is not playable (same as the issue onSwipeNext twice, it isnt playable too). Its just like the video is corrupted or deleted

I will take a look as soon as possible.

[2021-07-13 21:03] dandresfg commented on #118
[code]

Try with this, works for me (i will test it deeply)

[2021-07-13 21:20] pdpino commented on #118
Thanks for the suggestion. I used something similar to that, uploaded to [this hotfix branch](https://github.com/pdpino/react-native-week-view/tree/hotfix/change-n-days) for now.

I have to test it further, and I'm thinking of a more optimal solution

[2021-07-13 21:25] pdpino commented on #108
Are you using firefox? Apparently firefox cannot reproduce it, but chromium based browsers can (chrome, brave, etc).

I attach a similar gif here:

![experimental-scrollview-on-refresh](https://user-images.githubusercontent.com/20805451/125527253-7290ffce-8c89-4390-913c-209bf7112e15.gif)

[2021-07-13 21:26] dandresfg commented on #118
maybe instead of use calculatePagesDates... You can use another method and read the items, and add the dates missing. (IDK how to do this but i think...)

[code]

[2021-07-13 21:27] dandresfg commented on #108
Opera.

[2021-07-16 10:41] AbhishekMuknak opened #119 "How to show FirstDay of the Week Sunday and LastDay of the Week Saturday. Currently its showing firstDay Of the Week Monday and Last is Sunday."
In header threre are day name and days are listed starting from monday to sunday. but i want the start day sunday and end day saturday. because i am getting data from api when i pass week no . in javascript week start from sunday and ends on saturday. In your component start day is monday and end date is sunday. because of that i am unable to show the event on sundays.  i there any props so i can

[2021-07-16 17:32] pdpino commented on #119
For the moment, there is no prop to do this. I think we can add this soon

[2021-07-17 03:44] AbhishekMuknak commented on #119
Thanks Sir

[2021-08-01 02:10] #119 closed

[2021-08-01 02:12] #109 closed

[2021-08-03 15:33] #104 closed

[2021-08-13 07:35] rdewolff commented on #95
That would be a nice addition!

[2021-08-13 13:23] rdewolff commented on #118
I have the same issue, whatever the `numberOfDays` value is, the jump is always 7 days.

[2021-08-15 14:27] rdewolff commented on #118
Any workaround or plan to fix this?

[2021-08-15 16:35] dandresfg commented on #118
You can use my solution...

Change this (WeekView.js)
[code]

to this
[code]

it will erase al the loaded pages, and reload new ones... Works for me... check it out.

[2021-08-15 16:59] pdpino commented on #118
Yes @rdewolff,  I plan to fix this bug soon, but I've been very busy. It has top priority as it is an important bug.

Current workarounds:
* Keep `numberOfDays` fixed (you _should_ not see this bug if `numberOfDays` does not change)
* Use [this hotfix branch](https://github.com/pdpino/react-native-week-view/tree/hotfix/change-n-days) from my fork, which has a similar fix as the one given by dandre

[2021-08-15 17:03] rdewolff commented on #118
Thanks, I’ll give this solution a try.

Would love to see a fix in the master branch 🙏🤩

[2021-08-22 09:49] #118 closed

[2021-08-22 16:05] pdpino commented on #118
Update: we decided to apply the hotfix to the master branch, so the bug should be fixed now. We will try to apply a more efficient solution in the future

[2021-08-26 01:49] bvb0981 opened #127 "Double Tap on Event"
How prevent double tap on eventclick. creating same id

[2021-08-28 21:01] rdewolff opened #128 "Select number of days scrolled"
With the current version, if you change to less than 7 days displayed with the `numberOfDays` props, the scroll is really weird. It jumps an amount of `numberOfDays` in your scroll. And you quickly lose track of your weeks.

If you check what Google Agenda is doing, when you have 7 days displayed, the scroll amount is 7 days.
If you have *less* than 7 days displayed, it will scroll 1 day. That way

[2021-08-28 21:02] rdewolff opened #129 "Add onMonthPress and onDayPress"
It would be great to have standard actions on month press (top left) and on the days (top row).

[2021-08-28 21:03] rdewolff opened #130 "Add PinchGestureHandler"
It would be great to have an option to set PinchGestureHandler. For example we could set the amount of day(s) displayed using this event handler.

[2021-08-29 00:37] pdpino commented on #128
Thanks @rdewolff, I agree with this. I would prefer a general prop such as `numberOfDaysJump`, `jumpOnlyOneDay`, or something similar, to allow the developer selecting the best option for them.

I'm very busy at the moment, so I don't know when I will be able to implement this :slightly_frowning_face:.
I would be happy to give pointers if you want to implement it yourself and send a PR :slightly_s

[2021-08-29 00:40] pdpino commented on #129
Yes, this should be straight forward to implement.

I'm very busy at the moment, so I'm not sure when can I implement it.

[2021-08-29 00:43] pdpino commented on #130
Thanks @rdewolff ! This would be really nice. I have also thought of this for the amount of hours vertically

We can definitely try to do this, but I'm not sure how smooth will the animation be (i.e. we may need some efficiency improvements)

[2021-08-29 19:49] rdewolff opened #131 "Bug when switching `hoursInDisplay`"
As a user, when I switch the `hoursInDisplay` value on the fly, the hours gets messed up in the margin.

Demo of changing `hoursInDisplay` prop value with events displayed at wrong time:

https://user-images.githubusercontent.com/130704/131263490-f5f59bf2-2849-4787-89ec-f98e301d749e.mp4

[2021-08-30 00:01] pdpino commented on #131
Thanks for reporting this. I will try to fix it ASAP

I think I found the culprit in the code, but I'm very busy right now so I'm not sure when can I implement it and send a PR.

[2021-08-30 06:30] rdewolff opened #132 "Add ability to display full day event"
As a user, I wish to see full day events on the top of my day in a dedicated space, to avoid filling too much space in the week view.

This is usually an allDay Boolean in the event object to decide if this event should be displayed differently.

Cf info https://github.com/wmcmahan/react-native-calendar-events#event-fields

![2C093857-A005-46F8-AE5A-29832589E339](https://user-images.githubusercont

[2021-08-30 22:12] rdewolff commented on #132
What do you guys think about this addition?

[2021-08-31 00:57] pdpino commented on #132
I think this feature is broad enough for the library, it would be nice to implement it.
But it would take some time. Some considerations:

* The all-day events behave somewhat different from regular events:
  * cannot be dragged, at least not vertically (upcoming feature)
  * endHour cannot be edited by long-pressing (upcoming feature)
* The dedicated-space height should grow according to the amou

[2021-09-08 13:58] pbpranavk commented on #14
Hi @pdpino great work on the library, any update on this? when are you planning to release this?

[2021-09-08 15:30] pdpino commented on #14
Yes, sorry! I've been very busy and this feature got a bit delayed, even though the code is _almost_ ready.

I will try to speed things up to release it :slightly_smiling_face:

[2021-09-08 15:37] pbpranavk commented on #14
Hey @pdpino thanks again for your efforts, you are doing great stuff! 🙂

[2021-09-08 17:18] pdpino commented on #131
I fixed this bug and sent a PR. Here is a gif of the result:

![bug-change-hours-in-display](https://user-images.githubusercontent.com/20805451/132554449-552cb4f0-7939-4e1b-8860-fdb7cf21c9de.gif)

The NowLine updates its position smoothly, but the events not so smoothly. We can improve this in the future :slightly_smiling_face:

[2021-09-08 20:33] pdpino commented on #128
Small update: I've been trying to implement this feature. At first, it should not be too hard, but I run into an unexpected issue. See this examples with 3 and 5 days in the grid:

![feature-scroll-one-day-3](https://user-images.githubusercontent.com/20805451/132579725-e71ed7bf-e643-4580-90ef-992745a94184.gif) ![feature-scroll-one-day-5](https://user-images.githubusercontent.com/20805451/132579704

[2021-09-09 13:28] #108 closed

[2021-09-09 22:51] rdewolff opened #134 "Add ability to use custom component for day header"
it would be great to be able to specify the custom component for the day header.

The overload method would receive the date as a param and render a component in the allocated space, as shown in the following screenshot.

![iPhone_12](https://user-images.githubusercontent.com/130704/132710917-120f8b27-4035-407b-9450-76d93e4f0e7f.png)

[2021-09-10 00:04] pdpino commented on #134
Have you tried customizing the props `headerStyle`, `headerTextStyle`, `dateFormatHeader` and/or `TodayHeaderComponent` for your use case?

[2021-09-10 05:06] rdewolff commented on #134
Yeah I have checked. Maybe I have missed someting, but my use case is the following:

As a user, I want to be able to see the total number of meetings I have during the day in the day header.

And I think this is currently not possible.

[2021-09-10 12:39] pdpino commented on #134
Thanks for the answer, that cannot be done at the moment.

A couple more observations:
* If this custom component is provided, all the other header-related props mentioned will be ignored (which is fine)
* The custom component could also receive a prop `isToday`, so the developer does not have to check this manually

[2021-09-14 21:11] rdewolff commented on #132
Yeah this is an important feature for any calendar. Any idea Hope we can have this soon 👍

[2021-09-16 16:39] rdewolff commented on #130
Only way to know is to test 😎
Vertical pinch would change the amount of hours displayed, and horizontal pinch would change amount of days displayed.

[2021-09-17 14:49] #131 closed

[2021-09-20 05:39] JoeKlimcak opened #135 "Timetable pushing start date by 1 hour"
Apologies if I'm missing something obvious. Returned back to months-old code that used to work without any issues. Now, during testing, I've noticed each event is being pushed by 1 hour into the future. Example list of events being passed in:

[code]

Result in the timetable:

![Screenshot 2021-09-20 at 06 23 13](https://user-images.githubusercontent.com/19940004/133959880-bbddc66d-1131-466c-8b11-

[2021-09-20 14:27] pdpino commented on #135
I think this could be due to a timezone discrepancy, unless you are working from a UTC timezone.
Could you please try logging/printing this for each date of your events (`startDate` and `endDate`):

[code]

This library works with local datetimes (i.e. with respect to your local timezone), so it should match the value given by the `toString()` methods

[2021-09-21 05:14] JoeKlimcak commented on #135
You're right, that's where the discrepancy comes from. Your prints show:
[code]
That being said, still confused about why this is happening. The dates are first received as a string, and then converted to a date object with `startDate = new Date(date_string)`. At this point, the time is still correct, and as far as I understand, JavaScript's Date object already takes into account localization. But

[2021-09-21 13:41] pdpino commented on #135
Hmm, could you please show a complete example with: `date_string` received, the parsed `date` printed with `toString()` and `toUTCString()`, and say what is the expected value in the UI (e.g. you expect it to show as 13hrs)?

This library uses momentjs underneath to handle dates, so mostly we do stuff like `moment(event.startDate).hours()` (i.e. we don't change the timezones manually :grin:). Alth

[2021-09-23 05:36] JoeKlimcak commented on #135
Nope, I was wrong. What's happening is that JavaScript by default assumes the date that arrived is UTC. Then it picks up my localisation and adds the offset. What I haven't figured out yet is why this only became a problem for us now, but that's nothing to do with you. Thanks for the help!

[2021-09-23 05:36] #135 closed

[2021-09-23 12:09] pdpino commented on #135
I see. Good luck!
Thanks for using the library

[2021-09-25 16:55] saravanakumargn opened #138 "How to change Grid line color based on theme?"
Is any way to change the Grid border (line) color? I would like to change based on my theme (Light or dark)

This should be optional. https://github.com/hoangnm/react-native-week-view/blob/master/src/Events/Events.styles.js#L4
[code]

[2021-09-25 17:58] rdewolff commented on #138
This is currently not possible

[2021-09-30 14:16] hoangnm opened #139 "Setup semantic release to automatically pump version after merging to master"

[2021-10-05 19:25] sadez opened #140 "Add business hours"
I think it will be a good feature to have, I was thinking of a props like [fullcalendar](https://fullcalendar.io/docs/businessHours) :

[code]

In the current version, the only way I found to do that is to add holidays or week-ends (hours outside business hours) as events and add some grey style and make them unclickable.
![image](https://user-images.githubusercontent.com/8754816/136089164-a058ada

[2021-10-05 22:50] rdewolff commented on #140
Yeah so you can define your "available" or "not available" time.
Something à la SavvyCal https://savvycal.com

[2021-10-06 03:04] pdpino commented on #140
This is somewhat similar to #92.

What else would the non-business hours need? Other than being non-pressable and from a different color.
Or the business hours?

[2021-10-06 09:19] sadez commented on #140
Pressable or non-pressable should be optional I think, the only thing essential is making non-business hours with grey as color or different color (it can have events)

[2021-10-06 15:40] pdpino commented on #140
Thanks for the answer. Indeed this is very similar to the timeslot use-case, something like changing the background style of the grid without affecting the events too much.

For now, I would kindly suggest you to keep using the current workaround that you mentioned, i.e. using dummy grey events. I do not see a clear way to implement this soon, and there are other features that have precedence. In

[2021-10-12 12:43] fbertone opened #141 "wrong date with fixedHorizontally"
Hi,
if I set **numberOfDays** to **1** and **fixedHorizontally** to **true** I am shown the wrong date (yesterday instead of today).

This is caused by the code block in lines [299-305](https://github.com/hoangnm/react-native-week-view/blob/master/src/WeekView/WeekView.js#L299) that subtracts a day in order to "Ensure centralDate is before currentMoment".

[code]

I don't understand what is the pu

[2021-10-13 07:45] fbertone commented on #141
Yeah I don't really understand in the first place why if the view is fixedHorizontally then the view should start from Monday/Sunday, otherwise not.
I think it would be more appropriate to use a dedicated flag like startFromStartOfWeek (perhaps with a better name :D)

The long-term solution you mentioned before  would be of course the best option

[2021-10-13 08:32] fbertone opened #142 "alignment issue during scrolling"
Hi,
as I mentioned in #141 I'm having an issue when scrolling horizontally.
At the beginning the view is well aligned, but when I start scrolling the view gets unaligned.

- Here you can see a recording of 1 day: the more I scroll to the future, the more the view gets unaligned:

https://www.udrop.com/61We/recording_20211013_100330.mp4

- Here you can see a recording of 5 days: in this case the un

[2021-10-13 14:20] fbertone commented on #142
I've just identified that the issue is caused by a padding set on the outer view:
[code]

Yep, I've also witnessed the "not responsive to orientation changes" so I've blocked the screen rotation altogether :)

[2021-10-16 21:27] pdpino commented on #142
Ok, so this issue would be about responsiveness in the horizontal axis (similar to the other issue, which also involves responsiveness).
And the workaround would be: let the `<WeekView/>` component use the full width of the screen.

I'm afraid solving the whole responsiveness issue is tricky and a big change for the library, so I'm not working on it right now. I hope we can solve it some time soon

[2021-11-18 10:36] AbhishekMuknak opened #147 "I want to show overlapping event if there are more than one event on same time and no of event inside the event"
if there are more than one event on same time then i want to show that event overlapping not side by side. it is showing side by side in following design which makes events width smaller if multiple events on same time period.

[2021-11-18 14:05] pdpino commented on #147
This cannot be done for the moment, but we can try to add this at some point.

To clarify, how would the overlapping look? one event smaller than the other? could show an example?

[2021-11-20 04:00] AbhishekMuknak commented on #147
If I have 2 jobs scheduled at the same time, I should see ONE bar during that time slot for the day, with the time and the number of jobs for that day in the bar

[2021-11-22 15:37] pdpino commented on #147
Do you mean something like this? Plus customizinz the orange box further, according to your needs.

![photo_2021-11-22_12-24-59](https://user-images.githubusercontent.com/20805451/142888790-91a5e3ac-6c89-49db-b888-bdab186356e4.jpg)

You can accomplish this by (1) merging the overlapping events before passing them to the `events` prop, and (2) providing the `EventComponent` prop to show the merged

[2021-11-22 16:06] rdewolff commented on #147
The problem with this proposition is that it's not possible to visually see the different duration of the event.

[2021-11-22 16:15] pdpino commented on #147
I agree. I'm trying to understand if that's what @AbhishekMuknak wants for their specific app

[2021-11-23 17:00] Nearlz opened #148 "I want to get the minutes from OnGridClick, but im only getting the hours"
Hi, hope someone here could help me,

I want to add events at the moment of clicking a block, it only works with hours like 11:00 and 12:00, but when I click on the 11:30 it keeps adding at 11:00, I know I can specify minutes while setting events, but I can't get minutes from OnGridClick(), I'm only getting flat hours. Any ideas?

![image](https://user-images.githubusercontent.com/37839457/1430657

[2021-11-23 17:10] rdewolff commented on #148
Could you add a bit more info and code on how you are doing this ? Ideally setup a code sandbox with your project so we can help u faster 🤞

[2021-11-23 17:42] Nearlz commented on #148
We want to do a reservation app, but it is for half an hour, like if someone make a reservation for 11:30 it will end at 12:00, and the event should be added when pressing the gap between those two hours on the screen. It works fine if the reservation starts at 11:00, but we can't get the minutes from the OnGlidClick() for a reservation at 11:30, even when i touch it.

The timeStep is set on 30 fo

[2021-11-23 22:39] pdpino commented on #148
The `onGridClick` callback has precision only up to the hours (ignores minutes and seconds), since finger pressing is usually not so precise. So @Nearlz what you are seeing is expected, precision is only up to 11:00 or 12:00, sadly.

I think we can add precision up to minutes and seconds in the `onGridClick()` callback, but warn the developer that depending on how the agenda looks on the screen, t

[2021-11-25 21:18] pdpino opened #151 "Bug: Drag and drop erratic on the same day"
When I drop the event in the same day it moves erratically:

![bug-drag-and-drop-same-day](https://user-images.githubusercontent.com/20805451/143500293-9cfec980-3386-4cab-90f1-4802225368fc.gif)

* When dragging an event in the same day, the new start hour may get messed up after a few drags
* Cause: memoized callbacks in `Event.js` component (missed it in class to hooks migration)
* This does not

[2021-11-28 10:09] #148 closed

[2021-11-28 14:42] pdpino commented on #148
@Nearlz now you can get the minutes (and even seconds) from the `date` object: `date.getMinutes()`

In the master branch for now, will be released soon 🙂

[2021-11-29 13:51] hoangnm commented on #148
it's been released in version 0.8.0.

[2021-11-30 01:45] regina-rombangok opened #154 "I want to disable horizontal and vertical scrolling when dragging an event somehow"
Whenever trying to drag the event, calendar view swipe behavior and vertical scrolling behavior work at the same time. It looks like so uncomfortable to drag the event.
Is there any way to disable horizontal and vertical scrolling when dragging the event?
Thanks.

[2021-11-30 16:52] pdpino commented on #154
Thanks for trying the drag and drop feature!

We have seen similar issues in some devices. To help u faster, could you please:
* say which device are you using (emulator/physical, android/ios) and packages versions (react, react-native, react-native-week-view)
* ideally provide a screen recording

In some devices it works well, for example android 8.1.0 emulator, react-native v0.64.2, react v17.0.

[2021-11-30 17:33] regina-rombangok commented on #154
Thanks for quick reply. I'm testing on Android emulator Pixel 2 device (API 30).
    "react": "17.0.1",
    "react-native": "0.64.3",
    "react-native-week-view": "^0.7.0"

   Here is the video I recorded

https://user-images.githubusercontent.com/71880618/144098212-d2d61849-0922-4a53-b3c6-f0615aa8f8c5.mp4

[2021-12-01 17:00] KodyKendall commented on #154
I'm also seeing this when running expo, devise is an iPhone 8 Plus, iOS 15.1

[2021-12-01 18:47] pdpino commented on #154
Thanks both for the feedback. I will try disabling other scrollings while the event is being dragged, will let you know how it goes.

I also have been think of providing small feedback when the event is first pressed to be dragged, for example a little phone vibration (like the android calendar does), could be helpful

[2021-12-01 19:23] KodyKendall commented on #154
I think adding a little phone vibration is a great idea!

On Wed, Dec 1, 2021 at 11:48 AM pdpino ***@***.***> wrote:

[2021-12-06 14:55] KodyKendall commented on #154
@pdpino have you had a chance to experiment with disabling scrollings when an event is being dragged?

[2021-12-06 15:40] pdpino commented on #154
@KodyKendall sorry, not yet :slightly_frowning_face:, I have been very busy the last weeks finishing my master thesis.
I will try to make some time for this in 1-2 weeks, but I can't make any promises

[2021-12-09 05:11] AbhishekMuknak commented on #147
Yes, I want something like this because there are more events on the same time period the event bars size reduces.

[2021-12-18 08:52] AbhishekMuknak commented on #147
Any updates?

[2021-12-18 08:55] AbhishekMuknak opened #155 "In header bar how to name of day on top and below the date like the month name and the year shown in left corner"

[2021-12-20 00:31] pdpino commented on #147
As I mentioned, this can already be accomplished with code in your app, something like this:

[code]

Note: to detect which events are overlapped, one possible method is sorting the events by `startDate` (`O(n log n)`, with `n` events), and then checking them sequentially for overlaps (`O(n)`).

[2021-12-20 00:37] pdpino commented on #147
I acknowledge that the solution may seem hacky. In the future we could provide a better way to do this: simpler code in your app, more flexible options, etc.

If you have more suggestions/needs, I'd ask that you provide visual examples to understand better, e.g. an screenshot

[2021-12-20 00:51] pdpino commented on #155
Customize with the prop `formatDateHeader`, e.g. `"ddd DD"` for "Tue 21", "Wed 22", and so on. See all [available formatters](https://momentjs.com/docs/#/displaying/format/) in moment js

I think you can add a breakline by adding `"[\n]"` in between (e.g. `formatDateHeader="ddd[\n]DD"`), though I haven't tested it yet.

[2021-12-22 11:54] AbhishekMuknak opened #156 "It is possible to show only horizontal grid lines and hide vertical grid lines and also make size of lines bigger?"

[2021-12-26 09:55] hoangnm commented on #156
We don't have that option atm. Could you explain more your use case?

[2021-12-26 19:40] mesutaltuncu commented on #81
Any updates?

[2021-12-26 20:07] mesutaltuncu opened #157 "Adding backgroundColor property support for grid layout"
Will there be a backgroundColor change feature for the grid in the future?

[2021-12-28 15:08] pdpino commented on #81
Answering in #157

[2021-12-28 15:14] pdpino commented on #157
The grid is currently transparent, so you should be able to change the background color by changing the parent's `backgroundColor` prop:

[code]

Lmk if you have any problem or more questions

[2021-12-29 23:24] #151 closed

[2022-01-01 13:21] AbhishekMuknak commented on #156
I want show only the horizontal lines and increase the size of lines

[2022-01-05 18:40] pdpino commented on #154
Update:

I created [this experimental branch](https://github.com/pdpino/react-native-week-view/tree/experimental/drag-drop-vs-scroll) with 2 changes:

* Use `onShouldBlockNativeResponder: () => false` in the `PanResponder`. This _might_ fix the problem in some cases, though it only applies to android
* Disable the (vertical and horizontal) scrolling when an event is being dragged. Activate this be

[2022-01-14 11:40] Spunnator commented on #154
I have same problem. Any Solution?

[2022-01-14 20:34] pdpino commented on #154
Hi @Spunnator , could you try the fix I mentioned in my previous comment?

[2022-01-17 08:37] Spunnator commented on #154
@pdpino i should use your fork?

[2022-01-17 11:08] pdpino commented on #154
Just this branch for testing, if possible.
I keep my fork up to date with this repo

[2022-01-18 00:20] #43 closed

[2022-01-18 00:20] #138 closed

[2022-01-18 00:20] #156 closed

[2022-01-18 01:02] pdpino commented on #43
To remove the grid provide the props:
[code]

[2022-01-18 01:02] pdpino commented on #138
To change the grid colors provide the props:
[code]

[2022-01-18 01:04] pdpino commented on #156
To achieve what you need:
[code]

[2022-01-20 11:35] SimeonVAtanasov opened #160 "Adding locale does not work"
When passing locale string to the WeekView component there is no change,  but changing the import in WeekView/utils.js to "import moment from 'moment/min/moment-with-locales';" does the job
I'm using expo 43.0.2

[2022-01-21 03:27] pdpino commented on #160
Thanks for the report.

What locale are you trying to use? Is it added manually with `addLocale(...)` or not?
I think the issue is related to importing the target locale: https://momentjs.com/docs/#/i18n/loading-into-nodejs/

[2022-01-21 13:04] SimeonVAtanasov commented on #160
Thank you for the fast response, adding it manually resolved my case 💯

[2022-01-21 13:04] #160 closed

[2022-02-07 15:53] Salmankhan033 opened #161 "OnSwipePrev error"
<img width="326" alt="Screenshot 2022-02-07 at 8 49 59 PM" src="https://user-images.githubusercontent.com/58082294/152822712-f94b89bf-a284-42f8-8f54-f8b36a5529a0.png">
When onSwipePrev and set the value in date type state it gives such type of error.

[2022-02-07 16:07] Salmankhan033 opened #162 "Numbers of Days issue"
when swipe to next or previous then first it takes one-week difference after that it takes the correct date.
number of days are 3
How to solve it?

https://user-images.githubusercontent.com/58082294/152825322-6bf40dc6-1f2c-4507-ae19-622c55b11fb9.mp4

[2022-02-07 19:01] pdpino commented on #162
Hi, what version of `react-native-week-view` are you using?

* If you are using an old version, it may have to do with this bug #39 (we are waiting on a fix from react-native)
* If you are using the latest version, could you show the code in your callback for `onSwipeNext` please (and/or `onSwipePrev`). Is it a time-consuming call?

[2022-02-07 19:03] pdpino commented on #161
Could you show the code in your callback `onSwipPrev` please?

[2022-02-08 06:45] Salmankhan033 commented on #161
<WeekView
      showTitle={false}
      events={myEvents}
      onSwipeNext={date => props.changeDate(date)}
      onSwipePrev={date => props.changeDate(date)}
      onEventPress={data => props.onBodyClick(data.id)}
      style={styles.body}
      selectedDate={new Date(props.date)}
      onGridClick={() => props.onBodyClick()}

       numberOfDays={props.day}

      numberOfDaysJump={3}
      jum

[2022-02-08 06:51] Salmankhan033 commented on #162
version : "react-native-week-view": "^0.8.1",
 <WeekView
      showTitle={false}
      events={myEvents}
      onSwipeNext={date => props.changeDate(date)}
      onSwipePrev={date => props.changeDate(date)}
      onEventPress={data => props.onBodyClick(data.id)}
      style={styles.body}
      selectedDate={new Date(props.date)}
      onGridClick={() => props.onBodyClick()}

       numberOfDays={p

[2022-02-08 06:57] Salmankhan033 commented on #161
When I applied the below condition in weekView  file line No 255 then its working good
 const scrollToCurrentIndex = () =>{
        if(this.eventsGrid){
          this.eventsGrid.scrollToIndex({
          index: this.currentPageIndex,
            animated: false,
          })}
        }

[2022-02-10 12:32] pdpino commented on #162
Could you try not changing the prop `selectedDate` at all? This prop only determines the _initial date shown in the component_, it is not necessary to change it after each swipe.

[2022-02-12 12:04] pdpino commented on #162
I see, thanks for providing all these details! Anything else just lmk

I'll try to reproduce it and fix it soon

[2022-02-12 12:06] pdpino commented on #161
I'll be trying to fix this alongside #162

[2022-02-12 13:06] Salmankhan033 commented on #162
Thanks dear
OnSwipePre Problem I solved from the **node_Modules**.

[2022-02-22 07:17] Salmankhan033 commented on #162
Hi,
Did you find any solution?

[2022-02-22 14:49] pdpino commented on #162
I am still not able to fully reproduce this issue. For now, I suggest:

1. Do not change the date in the prop `selectedDate`, since it only sets the _initial date shown_ in the week-view. For example use `selectedDate={new Date()}` or:
[code]
2. Try to avoid creating new functions in the render method, for example, instead of:
[code]
  use:
[code]

Both 1 and 2 problems may trigger a re-render of

[2022-02-22 14:52] pdpino commented on #161
I still cannot reproduce this issue. Could you provide the full code of the parent component of `WeekView`?

[2022-02-22 14:56] Salmankhan033 commented on #162
I solved my problem.
The problem is that I pass the date state in useEffect dependency when changing the date then call API for that it gives problem.
now I remove it from useEffect and now it's working well.

[2022-02-22 14:57] #157 closed

[2022-02-22 15:13] #155 closed

[2022-03-01 06:31] JoeKlimcak opened #163 "Force UTC dates"
Can one force UTC dates? I know we can set locales, but (correct me if I'm wrong) there's no UTC locale.

The idea is that all users see the same UTC time, whatever their locale. Currently it seems like default timezones are being used, so even though I'm passing an object with a UTC date time, it shifts the boxes in the weekview according to my timezone.

[2022-03-01 10:24] pdpino commented on #163
You are correct, there is no UTC locale. Locales are for languages, while UTC is a timezone.

Working with timezones is still a bit rough in this library, since the `WeekView` component always shows the dates with the _timezone in the user's phone_.

I have had a similar issue, my current workaround (without any additional library) is to manually create a date with the UTC values before passing it

[2022-03-01 10:50] pdpino commented on #154
Update: I'm still debugging this

* This bug occurs in really specific cases, due to how `ScrollView`s in react-native work
  * Apparently, can only be fixed with native code
* If you do not provide `onEventPress` neither `onEventLongPress` callbacks, you _should not_ see this problem. (Although probably most use-cases need those callbacks)
* I may try with the [react-native-gesture-handler](https

[2022-03-03 08:21] JoeKlimcak commented on #163
That works, thank you @pdpino!

[2022-03-03 08:21] #163 closed

[2022-03-03 18:54] Salmankhan033 commented on #154
When I drag the event on midline means half in one date and half of another date then it can't adjust automatically?
Is there any way that it does not drag the event on the midline (date separate line)?

[2022-03-04 09:13] pdpino commented on #154
@Salmankhan033 this seems like a question unrelated to this issue (correct me if I'm wrong :sweat_smile:). Could you please open a different issue with the same question? I'll answer there

Also, the current behavior when you drop the event in your example is that will go to March 5 or March 6, depending on the exact pixel where you drop it. What are you expecting? I'm not sure I understand.

[2022-03-04 09:16] pdpino commented on #161
@Salmankhan033 did this error stop happening with the fix you mentioned about [`useEffect` in the other issue](https://github.com/hoangnm/react-native-week-view/issues/162#issuecomment-1047880155)?

[2022-03-04 09:16] #162 closed

[2022-03-04 09:50] Salmankhan033 opened #165 "Drag and drop adjustment issue"
When I drop the event on midline means half in one date and half of another date then it can't adjust automatically?
Is there any way that it does not drop the event on the midline (date separate line).

 <img src="https://user-images.githubusercontent.com/58082294/156713533-239002e5-522c-4efc-b385-8921698f6540.png" alt="Drawing"  width="200" height="350"/>

[2022-03-04 09:52] Salmankhan033 commented on #154
let's discuss on #165

[2022-03-04 09:56] Salmankhan033 commented on #161
import React, { Component } from 'react';
import PropTypes from 'prop-types';
import {
  View,
  ScrollView,
  Animated,
  VirtualizedList,
  InteractionManager,
  ActivityIndicator,
} from 'react-native';
import moment from 'moment';
import memoizeOne from 'memoize-one';

import Event from '../Event/Event';
import Events from '../Events/Events';
import Header from '../Header/Header';
import Title

[2022-03-04 10:00] Salmankhan033 commented on #161
yes I fixed it
That was from my side

[2022-03-04 10:25] Salmankhan033 commented on #165
https://user-images.githubusercontent.com/58082294/156743833-344aed1d-0e2b-462b-be05-4af039299e5a.mov
when I drop the event in the midline that it stop, The Updated API is called after that the Even get API called then the event change their place.
is it possible that it adjust automatically before API call ?

[2022-03-04 12:07] pdpino commented on #165
I see, thanks for the video, I'll check this out.

For now, could you provide your code for the `onDragEvent` callback and the `render()`? And any hooks involved.

For instance, in  [our example app](https://github.com/hoangnm/react-native-week-view/blob/master/example/App.js) the `onDragEvent` is something like this:

[code]

[2022-03-04 12:09] pdpino commented on #161
Oh, I meant the code from your side, but never mind :smiley:

I'll close this issue then, feel free to re-open if needed

[2022-03-04 12:09] #161 closed

[2022-03-07 12:48] Salmankhan033 opened #166 "How can i disable drag and drop on specific events ?"
I add multiple event with different types, Now I want to disable drag and drops for some events

[2022-03-07 15:02] pdpino commented on #166
That cannot be done at the moment.

We can add it, something like passing to each event that should not drag: `disableDrag: true`.

It should be straightforward to implement this

[2022-03-08 11:50] Salmankhan033 opened #167 "How to avoid appointment right side space"
There is a space between appointments and Day border, how to remove the space and show appointments on a full day?

 <img src="https://user-images.githubusercontent.com/58082294/157232160-853e8a8a-cf57-4be1-bfdb-52467922838e.png" alt="Drawing"  width="200" height="350"/>

[2022-03-08 12:28] pdpino commented on #167
Cannot be done at the moment.

I'm not sure we can provide that, adding a prop sounds like too much for this. Any API proposals?

In the meantime, you can set [this const](https://github.com/hoangnm/react-native-week-view/blob/master/src/Events/Events.js#L23) to 0 (directly in node_modules I mean), haven't tested recently but should work

[2022-03-10 10:59] Salmankhan033 commented on #166
I did it in from node module In Event file line no 308
`onDrag={onDragEvent` && item.data.type != "workingHours" && item.data.type !="timeOff" && this.onDragEvent}`

[2022-03-10 11:06] Salmankhan033 commented on #167
I did ,change the const `EVENT_HORIZONTAL_PADDING = 15;` to `EVENT_HORIZONTAL_PADDING = 0;` in Events.js file line No:23  in node-modules

[2022-03-10 11:11] #167 closed

[2022-03-12 06:12] JoeKlimcak opened #168 "fixedVertically?"
fixedHorizontally already exists - would it be difficult to implement fixedVertically? This would sort of act as a 'fixed time range', since it's not possible to currently define start/end hour for each day. If using for business (i.e. we only care about business hours), then the whole 24h range just adds a lot of noise & space - would be great if we could restrict to e.g. an 8h range.

Thanks!

[2022-03-12 11:36] pdpino commented on #168
Is your use case still business hours? (Or similar?)

I think is better to go with allowing a start-hour and end-hour (similar to #70) instead of disabing the vertical scrolling. Is a more flexible feature.

I'm thinking it should not be so hard to implement.

[2022-03-12 12:06] JoeKlimcak commented on #168
Yep, basically just the same N-hour window in a day, and drop the rest.

We are using start/end times - however it is still possible for the user to go beyond those times if they simply scroll, so it doesn't hide the redundant space that's never being used

[2022-03-12 14:34] Salmankhan033 commented on #147
Can you send me the sample code, please?

[2022-03-14 17:53] pdpino commented on #165
I can see this behavior if I use a time-consuming call in `onDragEvent` **before** the state is updated, for example:

[code]

I can fix it with any of these two options:

[code]

[code]

[2022-03-16 07:58] Salmankhan033 commented on #154
I want, when I drag event then off the horizontal scroll and enable vertical scroll?

[2022-03-16 11:48] Salmankhan033 opened #174 "onDragEvent vertical scrolling"
When I drag the event then the vertical/horizontal scrolling not working.
How to enable vertical scrolling when dragging or dropping events?

[2022-03-16 13:06] pdpino commented on #174
Something like:

* User starts dragging an event
* User drags the event up (or down) until the end of the screen
* The agenda should scroll vertically, while the user still does not drop the event, to allow dropping the event in other hours

Is this what you want?

I'm working on improving the overall drag and drop, fixing bugs and making it smoother. I'll try to consider this as well

[2022-03-16 14:27] Salmankhan033 commented on #174
If one person changes their event from 6 pm to 6 am then how it will scroll the screen to drag and drop events directly?

[2022-03-16 15:31] Salmankhan033 commented on #174
can you give me code from where you false the scroll?

[2022-03-16 21:38] pdpino commented on #154
I fixed this :smile:. I had to add the libraries [react-native-gesture-handler](https://docs.swmansion.com/react-native-gesture-handler/docs/) and [react-native-reanimated](https://docs.swmansion.com/react-native-reanimated/docs/) as dependencies (they work much better than bare react-native APIs). @hoangnm let me know if you agree with this requirement

![feature-v2](https://user-images.githubuse

[2022-03-16 22:46] pdpino commented on #174
I think I'm not understanding correctly.

1. about your question

In our code we do not disable the vertical or horizontal scrolling while an event is being dragged. The behavior is a result of how Views work.

2. Can you please confirm if you meant something like this? (example with google calendar). If the answer is no, please provide a visual example

![demo-vertical-scroll](https://user-images

[2022-03-17 06:30] Salmankhan033 commented on #174
Yes, I want such a type of scrolling when dragging the event.
how i will implement it in your calendar?

[2022-03-17 13:58] pdpino commented on #174
Cannot be done at the moment.
We will try to add it

[2022-03-20 18:38] kong2115 opened #177 "is it possible to change the period of time of the calendar?"
Hi, i'm new to the react native.
since the currently calendar are begin in 0:00, how could i change the begin time like 8:00? or any method that i can hide the grid from 0:00 to 8:00?
thank you!

[2022-03-20 19:32] pdpino commented on #177
Hi, thanks for trying the library!

You can use the prop `startHour` to indicate the vertical position of the calendar in the first render, for example `startHour={8}` for 8 am. Although the user could still scroll and see the grid between 00:00 and 8:00

Hiding the start of the grid is a feature similar to #168 and #70, like providing `startAt` and `endAt`, and hiding the test of the of the grid.

[2022-03-27 05:51] #129 closed

[2022-03-29 14:52] Salmankhan033 opened #184 "goToDate"
How to use goToDate function?
you created it in the weekView.js file but never used it.
I assign the  selectedDate={date} but when the date change then first it jump to another date then after that it comes back to a new date

[2022-03-29 15:48] pdpino commented on #184
The `selectedDate` only sets the date in the initial render. To change the date in the next renders, use `goToDate()`:

[code]

[2022-03-30 17:00] Salmankhan033 commented on #184
const weekViewRef = useRef()
    weekViewRef.current.goToDate(new Date(props.date))

 <WeekView

                ref={weekViewRef}
                selectedDate={props.date}
         // ...
           />
![simulator_screenshot_15BA214C-BA5B-4C2E-ACCD-12DAFC7494B5](https://user-images.githubusercontent.com/58082294/160890914-96229a17-5ffb-4ac4-93a0-999f3ebf5761.png)

[2022-03-31 10:49] Salmankhan033 opened #185 "Selected Date Position."
https://drive.google.com/file/d/1lqqEmuOUd9uyjGTPKPyZ7YgK7XXJ3bvO/view?usp=sharing

when I Select a date from the header and want to show the selected date from the start position, but some dates can't be taken from the start? it may be taken to mid or last.
watch the above video

[2022-03-31 10:51] Salmankhan033 commented on #184
Thanks for the quick response

[2022-04-01 19:42] pdpino commented on #185
To be sure, do you mean the following??
- when you press march-25 --> see dates `march-25 | march-26 | march-27`
- when you press march-5 --> see dates `march-5 | march-6 | march-7`
- when you press march-24 --> see dates `march-24 | march-25 | march-26`

This cannot be done at the moment. The days are rendered by pages, in the previous example a page would be march-25-26-27. This would require re

[2022-04-03 09:35] #134 closed

[2022-04-04 06:29] Salmankhan033 commented on #185
yes I want to like this

- when you press march-25 --> see dates march-25 | march-26 | march-27
- when you press march-5 --> see dates march-5 | march-6 | march-7
- when you press march-24 --> see dates march-24 | march-25 | march-26
any idea how to do like this.

[2022-04-08 21:09] bosheski opened #186 "goToNextDay & goToPreviousDay"
I stumbled accross this library and customized my header with arrow buttons but I have troubles making them work. They should render the next day upon right arrow click and previous day upon left arrow click. Is this done by some of you guys or is there an example as to how I can do it and will the library have such feature in the near future?

[2022-04-09 15:09] pdpino commented on #186
* how many days you display? (numberOfDays)
* Have you tried something that didn't work? For example `goToDate()`, `goToNextPage()`

[2022-04-18 11:08] #70 closed

[2022-04-18 11:08] #168 closed

[2022-04-18 11:08] #177 closed

[2022-04-19 07:57] Salmankhan033 opened #194 "Go to date position"
I clone the new app and checkout to  _`feature/185-gotodate-position`_ but still not working.
It takes the wrong date position.
I want that selected date to show on the left side like as I select 23 then show 23,24,25 etc
24=> 24,24,25
25=>25,26,27
https://user-images.githubusercontent.com/58082294/163953497-e3549af0-7b06-4911-9a4b-1394ee856190.mov

[2022-04-19 09:09] pdpino commented on #194
Please provide a minimal code example to help you better

[2022-04-19 09:36] Salmankhan033 commented on #185
I clone the new app and checkout to feature/185-gotodate-position but still not working.
It takes the wrong date position.
I want that selected date to show on the left side like as I select 23 then show 23,24,25 etc
24=> 24,24,25
25=>25,26,27
https://user-images.githubusercontent.com/58082294/163953497-e3549af0-7b06-4911-9a4b-1394ee856190.mov

[2022-04-19 10:55] pdpino commented on #185
Please provide a minimal code example to reproduce this

[2022-04-19 16:41] pdpino commented on #185
* When you press the date in the video, what are the new props provided? (could you show a console log, or something)
* Could the useEffect hook dependecies be wrong? I think it should be `[props.date]` instead of `[props.event]`
  * Could you try setting the hook without dependencies, and see if the issue persists? i.e. `useEffect(() => {...});`

[2022-04-19 16:50] #194 closed

[2022-04-19 16:59] pdpino commented on #177
Update: option 2 is now implemented in the props `beginAgendaAt` and `endAgendaAt`

[2022-04-19 17:00] pdpino commented on #70
Now this can be set with `endAgendaAt={17 * 60}` (17 hrs)

[2022-04-19 17:01] pdpino commented on #168
The props `beginAgendaAt` and `endAgendaAt` allow fixing a range for the week-view, for example between 8am and 5pm

[2022-04-23 12:27] rdewolff opened #196 "Deprecated usage of `ViewPropTypes` props"
We are trying to use `react-native-week-view` with [react-native-web](https://necolas.github.io/react-native-web) [1] to have as much same code as possible for our web app than for our mobile app at [Meetme](https://www.meetme.io/) [2]. It works great so far! But we have encountered an issue while trying to use this package. It seems there is usage of `ViewPropTypes` in the lib that cause the app

[2022-04-23 12:28] rdewolff commented on #196
There is a link with an example on how to fix this [here](https://github.com/wix/react-native-calendars/pull/1424/files)

[2022-04-23 17:57] pdpino commented on #196
I think we should be able to do this, seems very straightforward

Although, after a quick search I think we don't explicitly do `import { ViewPropTypes } from react-native`. I'll check the code further when I can.
It may be useful if you can show an error message or stack trace, to search for the line in our code.

Great to know that it (mostly) works in react-native-web 🚀 (we haven't tested offic

[2022-04-24 02:26] hoangnm commented on #196
hmm, I'm afraid this use case may not work properly with the PR that improves Drag & Drop, @pdpino .

[2022-04-25 12:07] pdpino commented on #196
@rdewolff in our code we use `Text.propTypes` ([here](https://github.com/hoangnm/react-native-week-view/blob/master/src/Times/Times.js#L31)), which seems to be deprecated as well (see [RN-0.64 source code](https://github.com/facebook/react-native/blob/0.64-stable/Libraries/Text/Text.js#L251)).
There is no direct usage of `ViewPropTypes`

I think we can replace that by `PropTypes.oneOfType([PropTyp

[2022-04-25 12:08] pdpino commented on #196
@hoangnm why not?

AFAIK, react-native-web is supported in [react-native-reanimated](https://docs.swmansion.com/react-native-reanimated/docs/fundamentals/web-support/) and in [react-native-gesture-handler](https://docs.expo.dev/versions/latest/sdk/gesture-handler/) (I have not tested though)

[2022-04-26 10:05] Salmankhan033 commented on #185
not working

[2022-05-05 12:47] rdewolff commented on #95
Meanwhile you probably better use another lib to display a full month @goodgood111

[2022-05-05 13:01] rdewolff opened #198 "React Native on macOS or on web - broken width and month not changing"
The library is not working when compiling a react-native project for macOS (Catalyst for example).
It's not working either when using react-native-web version.

The following elements are not working:
1. The width of the day header is not correct
2. The scroll is hard to test in these conditions, but it seems to not be able to trigger a next month change when you scroll past a certain amount of ti

[2022-05-05 14:55] pdpino commented on #198
@rdewolff I'll check this out ASAP

In the broken web app, where are events placed in the screen? For example an event in the central week, the week before and the week after.
Could you show a screenshot/gif with those?

[2022-05-05 15:49] rdewolff commented on #198
I haven't added meets on the first test I did. Let me give it a try and get back to u

[2022-05-06 10:21] pdpino commented on #198
@rdewolff I was able to reproduce it and display some dummy events, so don't worry:

![image](https://user-images.githubusercontent.com/20805451/167113511-5b901cf3-7110-495f-bbd8-82ead69f425f.png)

[2022-05-06 12:58] rdewolff commented on #198
Aaah great, you got a setup working 🥳

[2022-05-06 18:38] rdewolff commented on #198
I just tried to display some events in the grid but did not get it working. Did you already do some fixes @pdpino to get your event displayed?

[2022-05-06 19:51] pdpino commented on #198
**TL;DR**: I fixed some things, but is still not working 100%, _probably_ due to an upstream bug from react-native-web `VirtualizedList`. Demo:

![fixed-header](https://user-images.githubusercontent.com/20805451/167203006-455f6d94-af67-4027-8989-1c10cd7646ae.gif)

(btw the cursor is not moving because I was scrolling with the wheel)

---

**Details:**

There are multiple things in the initial exam

[2022-05-06 20:01] pdpino commented on #198
@rdewolff tbh I don't remember now if I had already made a small fix :laughing:. I made a draft PR with the changes so far

[2022-05-09 06:53] JoeKlimcak commented on #168
Well done, @pdpino.

[2022-05-09 07:16] rdewolff commented on #198
Concerning 4.2, is there a way to use an alternative to `onMomentumScrollEnd`?

[2022-05-09 09:23] pdpino commented on #198
There are no good options that I can think of

* `onScroll` event
  * Is triggered too often (once per frame, used for UI events) --> could lag the whole swiping interaction
  * Currently we use it to sync the grid with the header (bullet 5 mentioned)
* `onEndReached` event
  * This could work on one side of the calendar (left or right)
  * but there is no `onStartReached` --> would not work on th

[2022-05-10 04:28] rdewolff commented on #198
So our best bet might be to wait for `react-native-web` to support `onMomentumScrollEnd`.

Maybe this comment is related to our issue: https://github.com/expo/expo/issues/16822#issuecomment-1099169366 ?

[2022-05-14 14:27] rdewolff commented on #198
How can we get this issue moving forward?

[2022-05-14 14:56] pdpino commented on #198
PR #201 will fix up to 4.1.

As to 4.2, I'm afraid without scroll events in web there is not much more we can do. I see a lot of attention in rn-web, (e.g. https://github.com/necolas/react-native-web/issues/2249, https://github.com/necolas/react-native-web/pull/2241), hopefully they will have a fix soon

On the side, I'm implementing some performance improvements, and that _might_ include migratin

[2022-05-15 03:24] #38 closed

[2022-05-15 03:24] #196 closed

[2022-05-15 04:22] rdewolff opened #203 "Drag and drop - resize begining or end of the event"
It would be amazing to be able to reszie via drag and drop just the begining or the end of a slot.

Some libs or calendar allow to do this with the following UI:
1. there is a new 'selectedItem' state onLongPress on an event
2. when an item is selected, 2 dots appear on the top edge and bottom edge.
3. you can drag and drop either the full event, or just the start or the end via the dots

What do

[2022-05-15 04:23] rdewolff commented on #203
Using onLongPress to swtch to `selectedItem` mode would allow to fix https://github.com/hoangnm/react-native-week-view/issues/166

[2022-05-15 15:30] pdpino commented on #203
Something like the step 3 here: https://github.com/hoangnm/react-native-week-view/issues/58#issuecomment-846487594?

We have a PR implemented already (https://github.com/hoangnm/react-native-week-view/pull/15), but is on hold waiting for the major drag and drop upgrade https://github.com/hoangnm/react-native-week-view/pull/175

[2022-05-15 17:58] rdewolff commented on #203
Aaah yes exactly! I searched issues but did not see that one.

[2022-05-15 17:59] rdewolff commented on #58
Editing begining and end of the meeting would be even better :)

[2022-05-15 17:59] rdewolff commented on #203
I’ll close this for now. U can mark as duplicate if u need @pdpino

[2022-05-15 17:59] #203 closed

[2022-05-16 14:51] Vidxyz opened #204 "How to re-render component when startHour changes?"
I'm trying to implement pinch-to-zoom functionality for this component, and I'm trying to do this by making `startHour` and `hoursInDisplay` as state variables to force re-render upon changes, and I've hooked it up to a `PinchGestureHandler` from [react-native-gesture-handler](https://www.npmjs.com/package/react-native-gesture-handler).

However, when the state values are updated, the component do

[2022-05-16 16:21] rdewolff commented on #204
Oh that would be great to have pinch to zoom hours in display as well as number of days!

[2022-05-16 16:33] pdpino commented on #204
That is the purpose of the prop, just like in a FlatList is the [`initialScrollIndex` prop](https://reactnative.dev/docs/flatlist#initialscrollindex). (We may change the prop name in the future to be more self-explanatory)

We want to support the pinch gesture soon, both vertically (`hoursInDisplay`) and horizontally (`numberOfDays`) (e.g. https://github.com/hoangnm/react-native-week-view/issues/1

[2022-05-16 16:39] pdpino commented on #204
@Vidxyz in the meantime, we could expose a method like `weekViewRef.scrollToHours(hours)`, so that you can call it when the gesture ends. Would this be useful?

[2022-05-20 17:12] Vidxyz commented on #204
Follow up question - can we include a listener to retrieve `startTime` or `startHour` when the `WeekView` is scrolled vertically? It seems that there is no scroll listener to the component tracking the current time (at the very top of what's shown in view), and if I wrap the `WeekView` in my own `ScrollView`, then the `startHour` property does not seem to behave as expected

I can create another s

[2022-05-20 20:51] pdpino commented on #204
Yeah I think we can, something like `onTimeScrolled={(newTime) => { ... }}`.

Can you explain your use case? To understand the context

Wrapping the WeekView in a vertical ScrollView (or flatlist) will probably not work, since the WeekView has its own vertical ScrollView (they will conflict)

[2022-05-22 20:03] Vidxyz commented on #204
The use case goes back to my original comment regarding implementing pinch-to-zoom functionality. Since I want the `hoursInDisplay` to be increased/decreased based on pinch gesture, I also want to be able to know what the currently selected time is so that when the `hoursInDisplay` is increased, you are able to "zoom" into the currently selected time (which may have resulted from scrolling the `We

[2022-05-23 14:29] Salmankhan033 opened #206 "Wrong date Position"
I pass the date and then sometimes return the wrong date position.
He Header data is correct but the body date position is wrong.
They return  `targetIndex` in negative  value
and  `initialDates[targetIndex]` is undefined

[code]
<img width="710" alt="Screenshot 2022-05-23 at 8 37 13 PM" src="https://user-images.githubusercontent.com/58082294/169855931-240597db-d5b0-4c73-8922-4951232f8f23.png">

[2022-05-23 17:47] pdpino commented on #206
The `initialDates` array is updated later, so is OK that `initialDates[targetIndex]` is undefined at that moment.

[At the end of the method `goToPageIndex(targetIndex)`](https://github.com/hoangnm/react-native-week-view/blob/master/src/WeekView/WeekView.js#L248) there is a call to `this.setState(...)`, with the updated `initialDates` and `currentMoment`

[2022-05-23 19:27] pdpino commented on #206
If you want to use a callback after the scroll, you would probably have to call it at the end of [this `scrollTo()` function](https://github.com/hoangnm/react-native-week-view/blob/master/src/WeekView/WeekView.js#L213), which is inside the `goToPageIndex()` method. I have not tested it though

[2022-05-24 02:50] Vidxyz commented on #204
@pdpino seeing as https://github.com/hoangnm/react-native-week-view/pull/205 was merged in, will `onTimeScrolled` be tackled in a separate PR?

[2022-05-24 06:31] Salmankhan033 commented on #206
How to solve it ?

[2022-05-24 06:46] Salmankhan033 commented on #206
not working.

[2022-05-24 11:31] Salmankhan033 opened #207 "onSwipeNext stuck"
When I select the date after 2 or 3 years from the current date, the onSwipeNext stuck and can't go next.
when swipePre after that it can swipe next.

[2022-05-24 19:25] pdpino commented on #207
This is related to the component efficiency, which I'm trying to improve right now, but is taking me a while.
(I've seen the same warning regarding the VirtualizedList)

when swipePre after that it can swipe next.

In the current code, moving years generates large amounts of data for the internal VirtualizedList, which can cause issues like what you describe. We can try to address the case of movi

[2022-05-26 06:31] Salmankhan033 commented on #207
It's also stuck when changing for one or 2 days.

[2022-05-26 07:58] pdpino commented on #185
`useEffect` should not return a promise, see here: https://www.robinwieruch.de/react-hooks-fetch-data/

[2022-05-26 15:24] pdpino commented on #207
Can you provide the code to reproduce or a video

[2022-05-27 13:18] #204 closed

[2022-06-02 12:16] Salmankhan033 opened #214 "onSwipeNext or previous then wait"
When swipe swiping next or previous then the change date I pass to API and get the events.
when users Swipe many times at once the date change at any time also called the API function takes some time then git returns the wrong result.
I want that when swiping next or previous then wait until the data is not gotten from API, once data is gotten the users can swipe next or back

[2022-06-02 12:21] Salmankhan033 commented on #207
Thanks for quick response
https://user-images.githubusercontent.com/58082294/171627850-ae254894-0177-46b7-be82-8e69c3951566.mov

[2022-06-02 12:30] Salmankhan033 commented on #214
As you watch in the video when I swipe many times at once.
the date change but UI can't update
from the API return 4-jun date data but the UI date is 3-jun for that it can't show.

https://user-images.githubusercontent.com/58082294/171629074-f52963e1-a5c6-4149-9644-1835726c9213.mov

[2022-06-08 00:23] #154 closed

[2022-06-13 13:54] nareshghule-tudip opened #217 "How to avoid the extra padding for the event at the right side"
We have to show the events by merging them. But we are unable to remove the default spacing between the events. Is there any possible way to remove the spacing at the right?

Note: We have forked this library to make it customizable as per our requirements.

<img src="https://user-images.githubusercontent.com/52404174/173369018-1beeb32e-1c37-4f67-9a24-2063aad8bac7.png" width=30% height=30%>

[2022-06-13 15:14] pdpino commented on #214
Can you provide the code for reproduction?

[2022-06-13 15:21] pdpino commented on #217
Quick fix: you can set the [constant EVENT_HORIZONTALA_PADDING](https://github.com/hoangnm/react-native-week-view/blob/master/src/Events/Events.js#L23) to 0

Ps: can you describe your other requirements? We'd be interested in hearing more ideas and try supporting them in the future 🙂

[2022-06-13 16:02] pdpino commented on #217
Highlight how? Can you provide a visual example?

Yes! this is feasible. It would also be a good performance improvement (for #209) for users that know the time period in advance.

I'll try to address this soon

[2022-06-13 16:51] nareshghule-tudip commented on #217
@pdpino Okay thanks for the update.
Please find the the screenshot to highlight the start date to  end date for the particular event. e.g. If my event is starting from
7th and ending on 12th so I want to highlight those events. Also need to add the dots based on event count on the particular date. so please let me know on this

<img width="259" alt="Screenshot 2022-06-13 at 10 08 39 PM" src="https

[2022-06-13 17:38] pdpino commented on #217
You can try using the `DayHeaderComponent` to fully customize that

Something roughly like this could work (have not tested though):

[code]

You would have to implement `buildBackgroundStyleFor(date, events)` to determine which days get a special background style, and `<Dots events={events} date={date}/>` to render the dots for the days with 1 or more events.

I notice the solution may not be so

[2022-06-13 17:43] nareshghule-tudip commented on #217
@pdpino Thanks for the help.  I will try to implement this and will let you know if that works or not

[2022-06-14 10:36] nareshghule-tudip commented on #217
@pdpino is it possible to merge the events. e.g, lets say if I am having events from 11 Dec to 15 Dec so can we make it as one event. Please find the attached screenshot for the same.
Thanks in advance.

<img width="297" alt="Screenshot 2022-06-14 at 4 01 22 PM" src="https://user-images.githubusercontent.com/52404174/173557391-3bdcdb20-135a-4793-a620-12c4c9201227.png">

[2022-06-14 11:53] pdpino commented on #217
@nareshghule-tudip should be doable, but you'd had to provide the merged events.

I'm thinking we can support "events as blocks", it could be useful in other scenarios as well, like a timetable.

Then provide one event covering the full block. In your example:
[code]
(11am-1pm hours are made up)

Does that make sense? Does it fit with your original data representation?

[2022-06-14 19:00] pdpino commented on #217
@nareshghule-tudip is not implemented yet. I will try to implement it soon

[2022-06-15 06:16] nareshghule-tudip commented on #217
@pdpino Okay thanks

[2022-06-15 10:46] nareshghule-tudip commented on #217
@pdpino Please let me know when it can be ready.

[2022-06-16 17:42] nareshghule-tudip commented on #217
@pdpino Can  you please help me to remove the white line between the events. Please refer the screenshot for the same. I have not added any border for the event but still it is showing white line.

![imageedit_1_2347451719](https://user-images.githubusercontent.com/52404174/174133131-0dd833af-ba92-48b1-a18a-659f663938db.png)

[2022-06-16 18:35] pdpino commented on #217
@nareshghule-tudip if you are using the gridColumnStyle prop, try setting the color to transparent: `gridColumnStyle={{ borderColor: 'transparent' }}`

If not, please provide the code (and/or main changes in your fork)

[2022-06-17 09:39] rdewolff opened #221 "Enable click on month and day header"
As a user, I want to be able to click on the month or on the header and have an action happening.

For example, on click on the month I can show a mini calendar to navigate the month quickly.
I can click on the day header, to create a new event at that day, if the calendar is already full of event and the grid is not clickable.

[2022-06-17 09:49] nareshghule-tudip commented on #217
@pdpino okay thanks will try this if doesn’t  work I will share main changes in our fork

[2022-06-17 10:23] pdpino commented on #221
@rdewolff have you tried onDayPress and onMonthPress?

[2022-06-18 15:16] rdewolff commented on #221
What? Doh! I did not see these when checking. Sorry about that! Closing!

[2022-06-18 15:16] #221 closed

[2022-06-20 22:08] pdpino commented on #95
First working version:

https://user-images.githubusercontent.com/20805451/174683202-70512654-1d95-4145-b1ce-bd99bce67358.mp4

[2022-06-22 18:21] pdpino commented on #58
First working version:

![rc0-rnwv0 17--2022-06-22 19-17](https://user-images.githubusercontent.com/20805451/175108701-c820da03-0b1f-4d94-b7d6-28778f6993d3.gif)

[2022-06-22 20:56] rdewolff commented on #58
Amazing!!

[2022-06-27 10:57] pdpino commented on #217
1. Can you check if the white line is shown only in between _pages_ (i.e. weeks)? in your example should be between Sunday and Monday of the next week (e.g. Sunday 17 and Monday 18)
    * Check this after applying the gridColumnStyle fix

2. Can you provide your code and changes in your fork please.

[2022-07-02 12:38] TheTushar2696 opened #225 "The event becomes unresponsive if we drag it to the last column"
HI ,
The event is becoming unresponsive if we are dragging it to the last column, please find the video attache

https://user-images.githubusercontent.com/40525668/177001075-82415c21-eb3e-480c-add6-992ba54d64cf.mov

d

[2022-07-03 07:59] pdpino commented on #225
* What version of react-native-week-view are you using?
* Can you provide your code? Especially your `onDragCallback`

[2022-07-03 08:18] TheTushar2696 commented on #225
- "react-native-week-view": "0.16.0",
- My code snippet
-
![Screenshot 2022-07-03 at 1 46 15 PM](https://user-images.githubusercontent.com/40525668/177031320-fdd6d346-2b0e-40e5-84fc-86d16199ab65.png)

[2022-07-03 10:40] pdpino commented on #225
I think the code needs some fixes. The return value of `myEvents.map()` is lost. Can you try:

[code]

[code]

[2022-07-04 03:52] TheTushar2696 commented on #225
Hi,
It worked, Thanks

[2022-07-04 03:52] #225 closed

[2022-07-04 04:33] TheTushar2696 commented on #174
@pdpino  Any update on this feature

[2022-07-04 19:09] TheTushar2696 opened #226 "Can we enable vertical and horizontal scroll while we are dragging the event?"

[2022-07-06 00:25] pdpino commented on #174
@TheTushar2696 I'm not currently working on this

[2022-07-06 00:26] pdpino commented on #226
Closing as duplicated of #174

[2022-07-06 00:26] #226 closed

[2022-07-06 09:31] Salmankhan033 commented on #174
I have done it
By long press on events and copy it.
Then place/past it in your specific place

[2022-07-06 09:32] TheTushar2696 commented on #174
Hi,

[2022-07-06 10:15] TheTushar2696 commented on #174
@Salmankhan033  ^^

[2022-07-06 11:53] Salmankhan033 commented on #174
onEventLongPress={(_event) => {  setEditableEvent(_event) }

        then   onGridClick={(pressEvent, startHour, date) => {...}
        Then pass the date and editable events to API
        it will update the API

[2022-07-06 12:05] TheTushar2696 commented on #174
@Salmankhan033  Not sure how is this working, sorry to bother you but can you please share a working code snippet

[2022-07-06 15:55] Salmankhan033 commented on #174
Yes sure.I can send you the code.
welcome

[2022-07-07 04:46] rdewolff opened #228 "Per event border color"
It would be great to be able to set in the event it's border color.

[code]

[2022-07-09 06:19] rdewolff commented on #198
PR #201 was merged 🥳

[2022-07-09 13:24] pdpino commented on #198
@rdewolff necolas (rn-web 's author) [commented:](https://github.com/necolas/react-native-web/issues/2249#issuecomment-1150434795)

I cannot work on that right now.

---

To recap, I think the options are:
1. wait for react-native-web to support scroll events

or wait for other libraries, e.g.:

2. [react-native-bidirectional-infinite-scroll](https://github.com/GetStream/react-native-bidirectional

[2022-07-12 04:17] gianglt opened #230 "Events: prop type `eventsByDate.2022-07-05[0].ref` is invalid"
Thank you for your component.
I have a problem with the given example. The console log shows the following error-warning, which is related  the first event

 ERROR  Warning: Failed prop type: Events: prop type `eventsByDate.2022-07-05[0].ref` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined`.

[2022-07-12 08:24] magic3584 opened #231 "Why the date is wrong?"
[code]

the events should be  on **2021.03.15**,  but they are all on **2021.04.15**. I don't know why.

[2022-07-12 09:01] pdpino commented on #231
Do you mean they are appearing on April 15th 2021?
This is expected, the month parameter is the month-index (from 0 to 11), so `monthIndex=3`  is April (per [Date docs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date#syntax))

[2022-07-12 09:20] pdpino commented on #230
Can you provide a code snippet? what version of react-native-week-view are you using?

[2022-07-12 09:23] magic3584 commented on #231
It's so strange and it's the first time I know.

Thanks, learned it.

[2022-07-12 09:23] #231 closed

[2022-07-12 09:39] magic3584 opened #232 "Does it support show only a day?"
I know it can show only a week when **fixedHorizontally is true**, but does it support show only a day?

[2022-07-12 09:46] pdpino commented on #232
Try using `numberOfDays=1`

[2022-07-12 10:29] magic3584 commented on #232
Thanks guy, so timely and accurate!

[2022-07-12 10:29] #232 closed

[2022-07-12 13:00] TheTushar2696 commented on #174
@pdpino , Thanks for the update, please lmk if there is any progress or you need any kind of help

[2022-07-12 14:06] rdewolff opened #233 "Stack event when they can"
What do you think about a more clever way to stack event when they can?

We could overlap events based on the text in it's content.

Check for example how Apple Calendar is doing it:

![Screenshot 2022-07-12 at 16 06 11](https://user-images.githubusercontent.com/130704/178509315-675543e0-4cc1-4588-b2b2-6b2b28215376.png)

What do u think?

[2022-07-12 15:56] pdpino commented on #233
Sounds interesting!

Any API suggestions? I'd prefer something more flexible than detecting the same description, to support multiple use cases (e.g. a user may still want them non-stacked, even if they have the same description)

[2022-07-14 05:38] TheTushar2696 opened #234 "Issue with the drag sensitivity"
I am facing issue in a scenario wherein if have several events covering the entire column and if I scroll horizontally across it, the events are getting dragged which should happen only if I press on the event and drag it deliberately?

Is there a workaround for this that I can patch and make it work?

[2022-07-14 05:40] TheTushar2696 opened #235 "Is there a way where we can avoid shrinking of the events occuring at the same time and ovelap it instead?"

[2022-07-14 08:17] pdpino commented on #234
What version of react-native-week-view are you using?
Could you provide a video/gif showing the problem?

[2022-07-14 08:18] pdpino commented on #235
Something like this? https://github.com/hoangnm/react-native-week-view/issues/233

[2022-07-14 08:38] TheTushar2696 commented on #235
No, So actually I have blocked some cells in the calendar  as shown in the image by  passing isTimeSlot key in the event, Just as you mentioned in [issue](https://github.com/hoangnm/react-native-week-view/issues/92)
![2549866c4a0dbadd7d0bf4d1be23907d](https://user-images.githubusercontent.com/40525668/178939598-68f644a9-3555-4db5-9437-84a938a2fff2.png)
,

So I want to enable overlapping of events

[2022-07-14 09:17] TheTushar2696 commented on #234
react-native-week-view version : 0.16.0

Sharing a video just to depict the behaviour, this is taken from simulator but also happening in real device, So if we are scrolling and accidentally touch the event the event is dragged

https://user-images.githubusercontent.com/40525668/178948309-d210202d-8a8e-40f0-af9a-cb63ab259ee3.mov

[2022-07-14 09:25] pdpino commented on #234
This should be resolved in version 0.17.0, though we haven't released to npm yet.

Can you try with the code in the master branch? (notice the new [peer dependencies](https://github.com/hoangnm/react-native-week-view#installation)) The drag sensitivity should be much smoother with the new libraries

[2022-07-14 09:28] pdpino commented on #235
I see

This should be solved by the [upcoming block-like events](https://github.com/hoangnm/react-native-week-view/discussions/220). We are trying to release them soon!

[2022-07-14 09:31] TheTushar2696 commented on #235
Thanks!

Any ETA on this

[2022-07-14 09:39] pdpino commented on #234
Yes, the code is already in master.

You can install from github with npm/yarn specifying a branch and commit. You can use the [latest commit](https://github.com/hoangnm/react-native-week-view/commit/9df17df1e1efd8dfa776750d3096445ee0b2d4d8)

[2022-07-14 09:48] pdpino commented on #235
There is already a first working version implemented.

But I'm not sure on an ETA for the actual release, since it needs a couple of ongoing refactors (#219 and #229). I'd say still a couple of weeks

[2022-07-14 16:01] hoangnm commented on #234
version 0.17.0 was just released to npm, be aware that this has a breaking change.

[2022-07-14 16:04] TheTushar2696 commented on #234
Hi @hoangnm
Whats the breaking change? didn't get that

[2022-07-14 16:14] hoangnm commented on #234
Hi @TheTushar2696, as mentioned by @pdpino, from the v0.17.0 you have to install two more dependencies to use this library, otherwise it won't work.

[2022-07-15 10:02] TheTushar2696 opened #239 "The drag is not working as expected when user is accidentally placing it in between the lines"
When the user is placing the event in between the lines and releases it the event becomes unresponsive from the right side of the line, Sharing a video of the same.

https://user-images.githubusercontent.com/40525668/179201612-7b04dcd9-c30c-465a-a1e3-f5b99788fc8e.mov

[2022-07-15 11:52] TheTushar2696 commented on #239
[code]

[2022-07-15 11:53] TheTushar2696 commented on #239
These are the functions, starting from onDrag event

[2022-07-15 20:26] TheTushar2696 commented on #239
@pdpino  Actually what I want to achieve is,let the user drag the event wherever he wants and update the local states and silently call the APis and update the DB whereas if the api fails, restore the position of the event with an error message, and all these calculations leading to this, please suggest a better way to do it,
Thanks in advance

[2022-07-15 23:48] pdpino commented on #239
@TheTushar2696 what do you provide as `events` prop to `<WeekView>`?

Is not clear to me by checking the code when that prop gets updated

[2022-07-15 23:49] pdpino commented on #239
(Sorry for the long answer) When using this component you have two options/scenarios:

## 1. Sync DB update

When updating the DB locally in the mobile device (e.g. redux, or other store), you can choose to do this syncly. For this scenario, check this code:
[code]

The interaction would look somewhat like this:

https://user-images.githubusercontent.com/20805451/179325264-86b6fbce-54cb-4f0a-ba12-

[2022-07-15 23:50] pdpino commented on #239
You probably want the second scenario

Lmk if you have any feedback or suggestions, we want to fully support the async scenario as well

[2022-07-16 10:47] TheTushar2696 commented on #239
Hi @pdpino ,

Thanks for the detailed answer, i am trying to optimise the performance using the same, Still testing, Foe the below comment, can you suggest something, since my events array is large so what other lighter method I can use:

![Screenshot 2022-07-16 at 4 15 53 PM](https://user-images.githubusercontent.com/40525668/179351740-bb8e5015-920f-4673-942b-684ae79c3dd7.png)

[2022-07-17 09:35] pdpino commented on #239
@TheTushar2696 performance is out of scope for this issue, but I can comment this:

* First I would find the bottleneck in the app, i.e. maybe that part of the code is not the most inefficient one
* We are currently improving performance in `<WeekView>` (see #209)
  * the VirtualizedList warning is related to this
* Regarding your question about `...prevEvents.filter(...)` and the actual implement

[2022-07-17 09:38] pdpino commented on #234
@TheTushar2696 can you confirm if this is no longer an issue with v0.17.0 ?

[2022-07-18 14:22] pdpino commented on #233
I got this:

![image](https://user-images.githubusercontent.com/20805451/179532590-5c777e6d-5eb4-4a1b-823c-68d71bdc9e0d.png)

I can send a PR after solving open PRs #

[2022-07-18 14:25] #127 closed, assigned to nobody

[2022-07-18 14:32] rdewolff commented on #233
Woaw that's really nice!

[2022-07-18 20:27] rdewolff commented on #233
When you stack them, what happens if you put event A at 17h00 and event B at 17h15 ?

[2022-07-19 14:00] pdpino commented on #233
![image](https://user-images.githubusercontent.com/20805451/179768847-61f33645-33d5-4985-88d7-7d6c133e87ad.png)

do you mean one of those?

[2022-07-19 14:57] #58 closed

[2022-07-22 08:44] TheTushar2696 opened #243 "BUG: Horizontal scroll issue"
**Describe the bug**
On horizontal scroll, it becomes stuck sometimes and then resumes to scroll again, attaching a video of the same

https://user-images.githubusercontent.com/40525668/180362825-0c2e21ab-a77f-4839-9e7e-167f5ec7f863.mov

**Expected behavior**
Should scroll smoothly

[2022-07-22 10:31] pdpino commented on #243
This is a trade-off issue between loading less data (UI responding faster, but possible blank spaces) vs loading more data (UI slower, less blank spaces):

* When the view is near the end to the right the component loads and render more weeks to the right. This process takes time
* If the user scrolls too often/fast, you see the behavior you're describing
* We currently try to optimize this with s

[2022-07-23 16:37] rdewolff opened #244 "BUG: React Native Web - onGridClick() not sending correct parameters"
**Describe the bug**
When using RNWV on react-native-web, when clicking on the grid, the parameters are not sent properly to the callback function.

**Steps To Reproduce**
  1. launch on the web
  2. register a `onGridClick` event
  3. param `startHour` is always set to 0
  ...

**Expected behavior**
param `startHour` should be set to the hour clicked.

**Environment:**
 - `react-native-week-view`

[2022-07-25 08:58] pdpino commented on #147
Closing this, see similar discussion in #233

[2022-07-25 08:58] #147 closed

[2022-07-25 08:59] #206 closed

[2022-07-25 09:01] rdewolff commented on #147
@pdpino the housekeeper 🥳

[2022-07-26 06:43] SwikarBhattarai opened #246 "Feature request:"
**Describe the feature you'd like**
Show time while dragging the event.
**Visual demo**

https://user-images.githubusercontent.com/36293831/180940658-c4a4afee-0e1e-4f67-987f-b34852ee22f8.MOV

ots, videos or gifs describing what you'd like to see_

**(optional) Is your feature request related to a specific problem?**
Currently, we do not know the time in which event is dragged. It will be great if

[2022-07-26 08:38] pdpino commented on #244
I haven't tried to reproduce this yet, will do soon.

@rdewolff have you tried with `rn-week-view` latest version? (v0.18.0)

[2022-07-27 13:58] pdpino commented on #246
Not for now. I will thinking of a solution

[2022-07-27 14:03] SwikarBhattarai commented on #246
@pdpino okay. It would be great if you could help me on achieving this feature.

[2022-07-27 22:40] pdpino commented on #130
First (very early) version for the vertical pinch:

https://user-images.githubusercontent.com/20805451/181384685-dd884e90-2853-4cc8-b038-ca1bd7311e63.mp4

[2022-07-28 02:12] TheTushar2696 commented on #243
@pdpino  Just thinking out loud, If we give a window size as you mentioned, will it work well with goToDate function, because I've observed a similar behaviour when the user is moving to a specific date.

[2022-07-28 02:15] TheTushar2696 commented on #234
@pdpino
I still feel that if we are scrolling horizontally, sometimes the events are getting dragged as well

[2022-07-28 02:16] TheTushar2696 commented on #132
@pdpino  any plans to pick this up in the near future?

[2022-07-28 06:09] rdewolff commented on #130
Ah that's great. I had always thought this would be a nice addition to the lib.

[2022-07-28 10:03] pdpino commented on #139
can we also add tags to each bump commit?

[2022-07-28 10:06] #230 closed

[2022-07-28 10:21] pdpino commented on #239
I'm moving the async discussion to #248 and marking the original question as solved (feel free to re-open if needed)

[2022-07-28 10:21] #239 closed

[2022-07-28 10:27] pdpino commented on #243
you are right, it won't work well. See this similar issue: #207 when navigating to a far date (or even to close dates)

We are trying to solve that separately from the flatlist optimizations. The process when swiping with the finger (moving one page by one) is slightly different than goToDate (navigating to an arbitrary date)

[2022-07-28 10:38] pdpino commented on #234
if a user tries to scroll the view horizontally, but places the finger on top of an event, how should the component differentiate if the user wants to scroll or drag the event?

[2022-07-28 10:42] pdpino commented on #132
Yes sure, I will consider it in the upcoming features

[2022-07-28 13:46] pdpino commented on #165
Moving this discussion to #248

[2022-07-28 13:46] #165 closed

[2022-07-28 13:50] pdpino commented on #217
Closing this question due to inactivity

See #220 for status on feature: block-like events
See #228 for status on feature: customizing events styles

Feel free to re-open if you need help with your specific use-case

[2022-07-28 13:50] #217 closed

[2022-07-28 20:22] rdewolff opened #249 "Feature request: Calendar Vertical Indicator without text"
**Describe the feature you'd like**
As a user, I'd like to have some particular indicator in the agenda with custom color and size. This could allow to displa availabilites, or other indication that do not contain text but could be clicked.

**Visual demo**
![Screenshot 2022-07-28 at 22 21 46](https://user-images.githubusercontent.com/130704/181630138-de5f40c8-880b-4236-a47e-9e7a512a6f63.png)

Wha

[2022-07-29 05:12] TheTushar2696 commented on #243
@ Got it, Sure then we can try to add widow size, Since you mentioned we already are discussing this already, are you planning to take this up?

[2022-07-29 05:14] TheTushar2696 commented on #234
Somehow in Google calendar, it seems like it is able to differentiate it, not sure

[2022-07-29 17:11] pdpino commented on #243
@TheTushar2696 I sent a PR exposing the props. You can try different values to get better results, but I cannot assure you there will be _better_ results

Some other comments:
1. I'm implementing other optimizations to be able to implement some other features. These optimizations could help
2. I think a better solution would be to block the scrolling for the user while the component is loading. I

[2022-07-29 17:16] pdpino commented on #234
I see. In google calendar the user has to press and hold the event to "enable" the drag mode

We could do something like that, but we also want the press-and-hold for editing-mode feature (e.g. a user might want only drag-and-drop, only editing-mode, or both) --> so we need to reconcile the two interactions somehow

[2022-07-29 17:20] pdpino commented on #249
I think we will be able to achieve this with a custom `EventComponent`, stacking #233 (that also allows ignoring overlaps) and custom styles per event #228

[2022-07-29 17:22] rdewolff commented on #249
That's great. We have to update all the docs accordingly, as there are more and more features not visible in the main `README.md`.

[2022-08-01 19:55] rdewolff commented on #233
That seems like a perfect solution. Looking forward testing this!

[2022-08-01 19:56] rdewolff commented on #244
Nah I have tested on 0.16.0 only yet.

[2022-08-01 20:01] rdewolff commented on #244
Seems like 0.18 is not working at all on `react-native-web`.

![Screenshot 2022-08-01 at 22 00 37](https://user-images.githubusercontent.com/130704/182234743-b9fd860a-1f1d-4318-bdd2-4bf70236839d.png)

[2022-08-02 21:23] TheTushar2696 commented on #243
Hi @pdpino,
Got it, Also one more thing I noticed is when I am populating large number of events it is showing this in console, any idea about it?

<img width="394" alt="Screenshot 2022-08-03 at 2 52 15 AM" src="https://user-images.githubusercontent.com/40525668/182475699-796528f1-fceb-4983-9f25-829007ca6f5e.png">

[2022-08-02 23:09] pdpino commented on #244
I'm able to reproduce the error `Cannot read properties of undefined (reading 'Tap')` in web by using react-native-gesture-handler: "~1.10.2". This error disappears if you upgrade react-native-gesture-handler to v2 (e.g. 2.5.0)

However, when upgrading to v2.5.0 I run into this RNGH bug in web: https://github.com/software-mansion/react-native-gesture-handler/issues/2056 (completely unrelated to we

[2022-08-02 23:34] pdpino commented on #244
I also reproduced in rn-week-view 0.16.0, it is a simple platform compatibility change:

* In android / ios the press-event has shape: `nativeEvent: { locationY: <position> }`
* In web the press-event has shape: `nativeEvent: { offsetY: <position> }`

[2022-08-02 23:37] pdpino commented on #244
@rdewolff I think week-view still has some issues to be fully supported in web (other example: scrolling #198).

For me, the priority right now is releasing some features for mobile. But supporting rn-web also would be awesome.

For anyone else interested, you can keep listing other necessary stuff to support rn-web (like this issue), and we can try to pick it up in the near future

[2022-08-02 23:51] pdpino commented on #243
@TheTushar2696 I haven't seen that one with week-view

[This](https://stackoverflow.com/a/60234461/9951939) mentions passing large objects to console log

[2022-08-04 02:51] hankyungs opened #251 "Feature request: Cannot change <Title> width"
**Describe the feature you'd like**
I would like to change the width of the Title header and Times column.

in utils.js
`const TIMES_WIDTH_PERCENTAGE = 18;
const PAGE_WIDTH_PERCENTAGE = (100 - TIMES_WIDTH_PERCENTAGE) / 100;`
It's fixed at 18%. cannot change.

[2022-08-08 14:29] rdewolff commented on #198
The current workaround is to add navigation button to navigate to previous or next week.

[2022-08-08 14:29] rdewolff commented on #244
Seems like on the web it's possible to use the `event.nativeEvent.y` prop to calculate the hour correctly.

[2022-08-08 15:00] rdewolff commented on #244
On version 0.16.0, here is the working patched version if that can help:

[code]

[2022-08-08 18:55] pdpino commented on #244
@rdewolff are you staying in 0.16.0 in web and mobile? only web?

I'm wondering if is worth to make reanimated and gesture-handler optional dependencies, though it might be too much trouble

[2022-08-09 15:34] SwikarBhattarai commented on #185
I also encountered the same issue. The goToDate function works but the selected date is not moving to first column. Sometimes it goes to last column, sometimes on mid, sometimes on first column. @pdpino

https://user-images.githubusercontent.com/36293831/183694194-fde75f86-136c-4476-a046-8ef062bd65d0.mp4

.

[2022-08-09 15:43] SwikarBhattarai commented on #206
has this issue been solved? please reply

[2022-08-10 01:41] pdpino commented on #206
I closed as something different than #185.

This issue is similar, but I did not understand if it was duplicated, the issue was the undefined, the negative value, etc

[2022-08-10 01:44] pdpino commented on #185
@SwikarBhattarai this is still not solved. I will try to address it soon

[2022-08-11 18:10] SwikarBhattarai commented on #185
@pdpino i think there is some problem when we select date smaller that today's date. When we select date greater that today's date, its working fine. may. be there is some issue in goToIndex function. can you please check that??

[2022-08-12 14:04] rdewolff commented on #132
Looking forward having this too!

[2022-08-13 10:21] pdpino commented on #185
@SwikarBhattarai could you provide a screenshot or video showing the problem?

[2022-08-14 08:10] SwikarBhattarai commented on #185
https://user-images.githubusercontent.com/36293831/184528271-3f4e3757-ca0a-4b08-913a-988149182b47.mp4

@pdpino check this video

[2022-08-15 10:01] pdpino commented on #185
thanks, I'll check this out

[2022-08-16 08:06] SwikarBhattarai commented on #174
any progress ? @pdpino
@TheTushar2696 did you find a solution?

[2022-08-17 11:01] pdpino commented on #174
@SwikarBhattarai I'm stuck with this feature

I have a solution like [the comment above](https://github.com/hoangnm/react-native-week-view/issues/174#issuecomment-1181556579):

* the user drags an event to the (top or bottom) edge --> the view is scrolled by an offset
* then, to scroll the view again, the user needs to drag the event **again**

We want something more natural, like [the example fro

[2022-08-17 11:04] SwikarBhattarai commented on #174
@pdpino can you share me the your solution.

[2022-08-17 11:04] pdpino commented on #174
@SwikarBhattarai or anyone else, lmk if you have any code or ideas on how to solve this with react-native-reanimated v2 (e.g. maybe other app that solves a similar problem)

[2022-08-17 11:11] SwikarBhattarai commented on #174
@pdpino can you share me your current solution because its impossible to drag and drop from 6am to 6pm like situations.

[2022-08-17 11:19] pdpino commented on #174
@SwikarBhattarai If you want to develop, check this branch: https://github.com/pdpino/react-native-week-view/tree/feature/wip/174-drag-and-scroll

* the current solution is only implemented scrolling up. Implementing for scrolling down is analogous (but I want to fix the behavior first)
* Note: the branch is ahead of master by a bunch of other commits

[2022-08-25 07:32] TheTushar2696 opened #256 "BUG: When an event is moved, it doesn't occupy the full cell in the new time - Event should fill space in the cell."
Screen cast for the beaviour:

https://user-images.githubusercontent.com/40525668/186603138-3856eff9-d1b8-41ba-8d5a-6ea741ac0b43.MP4

So here even though we are moving the entire event in a completely empty cell, it is not occupying the entire cell, Is there any workaround for this

[2022-08-25 12:25] pdpino commented on #256
Can you show the exact start and end dates of: (1) the moved "Gymnastics" event and (2) the "Seetha" event?

Probably the events are overlapped by 1 or 2 seconds --> they get reduced in width

[2022-08-25 13:54] pdpino commented on #174
Here is a video of the current solution:

https://user-images.githubusercontent.com/20805451/186683556-5cbffddc-773a-4512-bfaa-7377ce3050ad.mp4

[2022-08-25 14:22] SwikarBhattarai commented on #174
@pdpino thats great. When are you pushing these??

[2022-08-25 14:58] pdpino commented on #174
@SwikarBhattarai before releasing, I think we want a more natural interaction, like the google calendar example

I'm stuck with this right now, help is appreciated.

[2022-08-25 15:02] SwikarBhattarai commented on #174
@pdpino share the repo link i will try

[2022-08-25 15:07] pdpino commented on #174
@SwikarBhattarai this branch in my fork: https://github.com/pdpino/react-native-week-view/tree/feature/wip/174-drag-and-scroll, the drag-scroll code is in `src/context/DragEvent.js`

[2022-08-25 15:42] #251 closed

[2022-08-26 03:03] ChiBao284 opened #258 "BUG: UI Drag"
**Describe the bug**
Hi. When pagingEnable = {false} the pull fails. Is there any way to fix it?. Thanks

**Visual demo**

https://user-images.githubusercontent.com/53886386/186808680-6ad6c25b-04ae-4ec3-ad03-26f9d0abcc19.mp4

**Environment:**
 - `react-native-week-view`: _e.g. version 0.16.0, master branch_
 - `react-native`: 0.64.2
 - `react`: 17.0.1
 - OS: _e.g. android 9, emulator_

[2022-08-26 10:20] SwikarBhattarai commented on #174
@pdpino did you push recent changes to the branch?? when we drag its crashing in ios simulator

[2022-08-26 12:10] pdpino commented on #174
@SwikarBhattarai The branch `feature/wip/174-drag-and-scroll` has diverged with master. It has more features and is lacking some recent changes. I haven't tested in iOS (can't access an emulator right now)

If you provide details of the crash maybe I can help

[2022-08-26 12:30] pdpino commented on #258
Are you using `pagingEnabled={false}` to scroll a different amount of days at the time? That feature is not supported yet: #128

I will address this soon

[2022-08-27 12:16] TheTushar2696 commented on #256
Hi @pdpino ,
Just logged the start and end dates of events for which its happening:
Event 1:
startDate: Wed Aug 31 2022 04:00:44 GMT+0530,
endDate: Wed Aug 31 2022 05:00:44 GMT+0530,
Event 2:
startDate: Wed Aug 31 2022 05:00:03 GMT+0530,
endDate: Wed Aug 31 2022 06:00:03 GMT+0530,

Please suggest me something here

[2022-08-27 15:07] pdpino commented on #256
The events are overlaped by 41 seconds --> they get reduced in width.

@TheTushar2696 for now I suggest this workaround: force your events to have seconds == 0, i.e. they would be at 4:00:00-5:00:00 and at 5:00:00-6:00:00
--> no overlap --> each event will be in a different cell

Let me know if this works for your use case

[2022-08-30 11:25] TheTushar2696 commented on #256
Hi
Thanks, it did work

[2022-08-30 11:25] #256 closed

[2022-08-31 16:28] #228 closed

[2022-08-31 16:28] #166 closed

[2022-09-02 14:19] pdpino commented on #132
I have a first version for this feature:

https://user-images.githubusercontent.com/20805451/188169096-9cd43795-ecf3-41d1-9d7a-a5e5398ea849.mp4

I will send a PR after block-events #220 though (to avoid merge conflicts)

[2022-09-03 12:15] Jack-Alfie opened #259 "BUG: GOOGLE PIXEL(Android 13) hang on scrolling horizontal."
**Describe the bug**
On Android 13 in all google pixel devices. If I scroll the diary horizontally then after few seconds the app got hanging. if I move to other screens then came back to diary screen it works for few seconds and then hangs again.
    I face this hanging issue on  numberOfDays is set as 7 or 5. If 5 days is set then it hang after 10 seconds but id select it as 7 days then it hangs

[2022-09-03 16:18] pdpino commented on #259
@Jack-Alfie thanks for the detailed description

Can you try with the latest react-native-week-view version?

[2022-09-03 17:18] TheTushar2696 commented on #234
@pdpino  Can we have a prop which can help to decide whether the user wants to edit or drag the event on long press, since for people who are using only drag , currently if we are scrolling and accidently touching an event it is getting dragged, so I am suggesting to have drag also on long press, does that makes sense?

[2022-09-05 20:43] pdpino commented on #234
@TheTushar2696 I will start working on long-pressing to enable drag

[2022-09-05 20:58] TheTushar2696 commented on #234
@pdpino  Thanks, In what release can we expect this,
Thanks in advance

[2022-09-07 21:45] TheTushar2696 opened #260 "How to point to todays date when switching to 1 day view"
Currently when I am switching from week view to 1 day view, It is starting from the first date shown in the 7 day view, For example if on the week calendar dates mentioned are from 4 Sept till 11th Sept, when I am switching to day view, It is starting from 4th sept

[2022-09-08 17:36] pdpino commented on #260
For now the solution is: call `goToDate(today)` right after changing `numberOfDays`

I think we can improve this in the future by fixing other stuff at the same time (e.g. #128, #185, #186)

[2022-09-14 21:12] TheTushar2696 commented on #260
Worked, thanks

[2022-09-14 21:12] #260 closed

[2022-09-17 05:01] #233 closed

[2022-09-24 16:28] TheTushar2696 commented on #234
Hi @pdpino

[2022-09-26 09:46] TheTushar2696 commented on #234
Hi @pdpino ,

Any update on this yet?

[2022-09-26 15:13] pdpino commented on #234
Hi @TheTushar2696, it's difficult for us to give an ETA right now since we have multiple features upcoming

Hopefully we'll resolve the PR it in no more than a few weeks. You can keep an eye in the PR discussion for updates :slightly_smiling_face:

[2022-09-26 16:07] #234 closed

[2022-09-28 16:59] JessieWang0706 opened #271 "React Version 18"
Is it possible for this react native week view to have a peer dependency of react 18? I am getting
node_modules/react
npm ERR!   react@"18.0.0" from the root project
npm ERR!
npm ERR! Could not resolve dependency:
npm ERR! peer react@"^16.8.0 || ^17.0.0" from react-native-week-view@0.24.0

[2022-09-29 03:51] TheTushar2696 opened #272 "BUG: Drag on on long press not working"
**Describe the bug**
I am trying to use the dragEventConfig={DRAG_EVENT_CONFIG} to enable drag only on long press, but seems like I am unable to drag when I provide afterLongPressDuration.

I've installed react-native-gesture-handler : v2.6.0
Attaching snap for the same

https://user-images.githubusercontent.com/40525668/192934668-e023af4c-fb3c-42c5-8e89-b0aa26109371.mp4

[2022-09-29 17:04] pdpino commented on #272
Could you please:

* show the code (including `DRAG_EVENT_CONFIG` provided)
* check react-native-week-view version you are using

[2022-09-29 17:06] TheTushar2696 commented on #272
Hi @pdpino
This is the dragConfig
- <img width="344" alt="Screenshot 2022-09-29 at 10 36 10 PM" src="https://user-images.githubusercontent.com/40525668/193094346-c2c8071d-daa5-4a09-b4aa-4b9f453f4f73.png">
- react-native-week-view version is 0.24

[2022-09-29 17:18] pdpino commented on #272
@TheTushar2696 the dragConfig feature will be available in 0.25 (to be released soon)

For now you can try the feature if you install directly from the master branch

[2022-09-29 17:50] TheTushar2696 commented on #272
Hi @pdpino
I am currently i am currently installing it from the master branch only, and I could see the code for drag config in the package getting installed.But its not working for me
<img width="639" alt="Screenshot 2022-09-29 at 11 20 24 PM" src="https://user-images.githubusercontent.com/40525668/193105664-7f0e50d8-8c2c-4c16-b7c4-ee87ce322ded.png">

[2022-09-29 18:08] pdpino commented on #272
@TheTushar2696 you're right, I checked back the video and I see the code is properly installed. When the event gets further reduced in opacity --> indicates "dragging" mode is activated

I'll check this further and let u know

[2022-10-07 08:40] Jack-Alfie commented on #259
@pdpino  I have updated the library version to 0.25.1 and I have updated the react native version to 0.68.2 as in your example project but I face the same issue and I have attached the video for it

https://user-images.githubusercontent.com/49557103/194511324-c8557510-6db6-492c-a5ba-1a6da396ad3e.mov

[2022-10-07 11:12] #128 closed

[2022-10-07 11:12] #141 closed

[2022-10-07 11:12] #185 closed

[2022-10-07 11:12] #186 closed

[2022-10-07 11:12] #258 closed

[2022-10-07 12:15] greenboots88 commented on #259
@pdpino I also have this problem, it's affecting all my users running on Android13, so Google Pixel phones and other Android devices. Is there a fix?

[2022-10-07 19:24] pdpino commented on #259
I'll check this out. Do u know if it occurs in iOS as well?

[2022-10-07 20:02] greenboots88 commented on #259
iOS works fine. It’s only happening in Android13 devices. Something might have added to stop the scrolling?

[2022-10-07 22:13] jethro69er commented on #259
Also facing this issue on Androids running OS v13.  v12 fine, iOS fine.

[2022-10-08 08:18] TheTushar2696 opened #275 "How to improve performance?"
Hi @pdpino @hoangnm

I am using this library, the overall features looks damm good and I also appreciate how we are continuously trying to make it better, I have a question, How to improve the performance in my app, Just listing down the things I am doing for the week view,
Note: Consider that I have a lot of events
-As soon as the week view loads I am formatting the events in the format the libra

[2022-10-10 10:50] greenboots88 commented on #259
@pdpino Have you checked this? Is there a fix please??

[2022-10-11 12:44] greenboots88 commented on #259
@hoangnm @pdpino This is a major problem that will affect all users when Android13 is shortly rolled out to all devices. The issue causes the diary to lag then crash if the scrolling is done vertically or horizontally

[2022-10-11 15:44] pdpino commented on #259
Hi @greenboots88, sorry for the late reply, I've been out of office the last days

I agree this is an urgent issue. I'll check it out this week

[2022-10-12 11:41] greenboots88 commented on #259
@pdpino Testing different Pixel models, they both have the same problem. The diary lags and then crashes after 8 swipes. Swiping forwards or backwards has the same problem

[2022-10-12 12:26] pdpino commented on #259
(just in case u can check this)
Is the behavior the same with many events (e.g. ~100 or more) vs with few events (e.g. ~10 or less)?

[2022-10-12 15:09] greenboots88 commented on #259
@pdpino the behaviour is worse with more events. 10 events has no lag.  100+ starts lagging after 20-30 swipes. 1000+ events starts lagging 8-10 swipes

[2022-10-12 17:44] pdpino commented on #275
Hi @TheTushar2696, sorry the late reply

We are currently trying to improve this (#209), so I don't have a definitive answer right now. I hope we are able to give more suggestions on this soon. For now:

1. **Suggestion**: `selectedDate` can be a constant (sounds weird, but is correct) --> should prevent useless re-render
    * this prop indicates the _initial selected date_, i.e. the date shown i

[2022-10-13 09:11] Jack-Alfie commented on #259
@pdpino  I have tried your old version of library which build with scrollview and the app works faster I didn't face hang issue for more than 1000 events. So I think the issue is ViitualizedList which stop scrolling in android 13. This may helps you to find the reason.

[2022-10-13 15:09] pdpino commented on #259
@Jack-Alfie thanks, very good to know!

Can you confirm which version/commit did you use? The VirtualizedList was introduced after 0.0.19

[2022-10-13 17:44] TheTushar2696 commented on #275
@pdpino I have created a reducer function instead of using useState() to fetch events, Inside that getFormattedTasksForWeekView() I am using a for loop
<img width="669" alt="Screenshot 2022-10-13 at 11 12 56 PM" src="https://user-images.githubusercontent.com/40525668/195667956-69d8241e-1267-4b63-90ef-cd1bb2a5ba4d.png">
<img width="803" alt="Screenshot 2022-10-13 at 11 13 54 PM" src="https://user-i

[2022-10-13 21:05] pdpino commented on #275
This is what I'm understanding: each time the app queries the API (e.g. after scrolling and reaching new dates), the app triggers the action `CalendarActions.SetEvents`, which processes all events from the DB (not only the newly received ones). Then all events are returned in the variable `formatedTasks`.
Is this correct?

[2022-10-13 21:45] TheTushar2696 commented on #275
@pdpino  Thats correct

[2022-10-13 22:02] pdpino commented on #259
small update:

* I'm also able to reproduce the ANR bug in android 11
  * the logs are slightly different, but it seems to be the same bug
  * I guess some android versions may take longer to throw the ANR error than other versions (--> explaining why is more observed in android 13)
* The ANR bug culprit seems to be `Event.js`, that has too many `useSharedValue()`s
  * if all interactions and gest

[2022-10-14 07:28] Jack-Alfie commented on #259
@pdpino Thanks for the update.  I didn't remember that I have download your src in one of my old sample project. Now I tried that and it's working on that sample app. May be its a 0.0.14 version.

[2022-10-14 08:07] Jack-Alfie commented on #259
@pdpino  In our app we need to add some more design in the events and we cant use the description key to show the event name, we use different keys in our api. so we have copied your src and use it in our project and in Event.js, we didn't use  useSharedValue()s but we have the Virtulizedlist  in Weekview.js file and we face the same issue in your lates build too but the old build which build with

[2022-10-14 08:51] mishakelawala opened #277 "In onGridClick, we get only an hour, but how do we get minutes as well?"

[2022-10-14 16:22] pdpino commented on #277
@mishakelawala what version of react-native-week-view are you using? If I remember correctly, this has been solved already

[2022-10-14 16:36] pdpino commented on #259
:thinking: interesting, thanks for the follow-up @Jack-Alfie

1. Are you using react-native-reanimated at all? reanimated has some similar issues (e.g. https://github.com/software-mansion/react-native-reanimated/issues/2812, https://github.com/software-mansion/react-native-reanimated/issues/3397), that's why I'm suspecting from the `useSharedValue()`s

2. `VirtualizedList` or `FlatList` should wor

[2022-10-14 16:42] pdpino commented on #259
Btw, the `EventComponent` should cover this use case. Is this not enough for your use case?

[2022-10-14 16:47] pdpino opened #278 "TODO: update Readme/docs"
- [ ] Add png and/or gifs to common-usages.md file
- [ ] "Fixed timetable" description needs an update
- [ ] Add use case demos
  - [ ] Custom EventComponent usage
  - [ ] feature: "allow scrolling one day at the time"
  - [ ] style props usage

More ideas are welcomed (cc @hoangnm @rdewolff), e.g.
- Is it worth creating a dedicated docs webpage? (to avoid overloading github repo with png/gif file

[2022-10-14 17:06] pdpino commented on #275
@TheTushar2696 for now I can comment the following:
Each `<Event />` displayed inside the WeekView is a `PureComponent` --> you should avoid shallow changes in props when there are no actual changes in the task/event. Roughly, you should avoid useless shallow changes in these props:

[code]

* Does any of the `event` changes shallowly, when in fact the task itself has not been modified? (I'm askin

[2022-10-14 19:14] TheTushar2696 commented on #275
@pdpino
Just FYI as mentioned in the above, I am making changes to the event style based on some key, as there was some business requirement, do you think that can be a reason of the slugginesh
<img width="606" alt="Screenshot 2022-10-15 at 12 43 28 AM" src="https://user-images.githubusercontent.com/40525668/195923523-ec600d7c-490d-430c-a1b2-e400b299bfc7.png">

[2022-10-15 05:36] mishakelawala commented on #277
Thanks for letting me know, My Apologies, I am using a lower version.

[2022-10-15 05:36] #277 closed

[2022-10-17 09:23] Jack-Alfie commented on #259
No our diary design looks different. so we customised your code. We need to show more details in the event like this
![Simulator Screen Shot - iPhone 13 - 2022-10-17 at 14 52 49](https://user-images.githubusercontent.com/49557103/196140833-f9f30e28-3b7b-4efb-b943-4bb05a566d5d.png)
ase?

[2022-10-18 08:42] greenboots88 commented on #259
@pdpino is there any update on fixing this. If the ANR bug is happening in android 11 and 12, it is significantly worse and more noticeable in Android 13. Throwing the errors very quickly.  I cannot disable all interactions and bugs because it makes your library unusable.
Do you have a solution?

[2022-10-18 12:29] pdpino commented on #259
@greenboots88 still working on a fix.
I agree this has become very urgent.

We could change for a ScrollView as a hotfix, but ScrollView is also not ideal. Lmk if you have suggestions for a hotfix for now

[2022-10-18 22:55] pdpino commented on #259
@Jack-Alfie since version >=0.0.17, you can achieve your design using `EventComponent` prop:

[code]

[2022-10-19 07:22] Jack-Alfie commented on #259
@pdpino  Thanks I will check that and let you know

[2022-10-20 11:20] TheTushar2696 commented on #272
hi @pdpino
Any update on the above

[2022-10-20 11:20] TheTushar2696 commented on #275
hi @pdpino

Any thoughts on the above

[2022-10-21 00:47] pdpino commented on #272
I haven't been able to reproduce this issue yet

[2022-10-21 00:55] pdpino commented on #275
I'm trying to improve performance on our end, alongside fixing the bug in #259

In your CustomEventComponent: I wonder if the `require('../Assets...')` could be non-optimal, options might be pre-fetching the images, async load them, etc (but that's out of the scope of this library). You might have already thought of this.

Can you show the full code where the variable `tasks` is updated? (the one

[2022-10-21 07:30] TheTushar2696 commented on #275
Hi @pdpino

Actually Ive noticed if we are not giving any customEventComponent or DayComponent the sluggish behaviour  reduces to some extent

Sharing code for updating events: I fire an action to setEvents(also gets called when component is mounted)
<img width="735" alt="Screenshot 2022-10-21 at 12 56 45 PM" src="https://user-images.githubusercontent.com/40525668/197138550-69bc119f-f56a-427c-a3a1

[2022-10-21 14:55] hoangnm commented on #275
I'm also thinking that having different logic inside a custom event component could be an issue. Could you measure how faster it is with the default event?

[2022-10-21 18:38] TheTushar2696 commented on #275
@hoangnm  Not too smooth but a bit better that this logic that I have

[2022-10-24 08:58] greenboots88 commented on #259
@pdpino Is there an update on this? I see there is a Hotfix update which is a temporary solution, but do we have a complete fix because the Hotfix just reduces the error, and it is still laggy

[2022-10-24 12:37] pdpino commented on #259
@greenboots88 I'm still debugging this. I've found some memory leaks and bottlenecks that I'm trying to solve, but I haven't been able to send an isolated solution right now. I'm doing my best to have a solution this or next week.

So the ANR is still triggered at some point? That's very useful to know

[2022-10-27 07:39] Jack-Alfie commented on #259
@pdpino  I run your demo app with my data of more than 1000 events and I still face the hang issue after adding your hot fix.

[2022-10-27 09:28] malinthann opened #283 "Feature request:"
**Describe the feature you'd like**
_Clear and concise description of what you want to happen_

**Visual demo**
_Add screenshots, videos or gifs describing what you'd like to see_

**(optional) Is your feature request related to a specific problem?**
_Describe your problem or use case. E.g. the user needs to edit the events when [...]_

**(optional) Additional context**
_Any other context, alterna

[2022-10-27 11:53] Jack-Alfie commented on #259
@pdpino Kindly find the video of your example project. I Have added both option but on scroll after some time app hangs.

https://user-images.githubusercontent.com/49557103/198277168-e6466613-2e93-47fa-ab82-e4487db42f68.mp4

[2022-10-27 13:18] pdpino commented on #259
Thanks @Jack-Alfie

I'm still debugging and I'm not able to isolate the problem.
* I've tried improving the logic involving the infinite scroll (i.e. load more pages when you reach the end)
* I've tried migrating to hooks
* I've tried reducing the size of `<Events/>` and/or `<Event />` components
* I know there is a memory leak in the VirtualizedList: if you scroll forward and back between two pag

[2022-10-27 13:28] pdpino commented on #283
we only have a [types declaration](https://github.com/hoangnm/react-native-week-view/blob/master/index.d.ts) for now. I think we can migrate to TS at some point, but we need to solve more urgent performance issues first

[2022-10-31 09:37] greenboots88 commented on #259
@pdpino yes if the problem is related to the animation of the VirtualizedList which is causing the hang, another option is needed

[2022-11-01 19:45] jethro69er commented on #259
is there an update on this?  I also have problems with my customers chasing me for this to be fixed, I’ve been keeping an eye on this thread but nothing more to add than has already been posted.  Update would be appreciated.

[2022-11-02 08:28] TheTushar2696 commented on #275
@pdpino @hoangnm  Is there any other way with which we can achieve the above and not hamper the performance at the same time?

[2022-11-03 01:34] pdpino commented on #259
I've been busy last weeks, so I don't have a fix yet :(

I'm aware this issue is very relevant. I'll try to make some time this week, will let you know of any updates

[2022-11-03 01:36] pdpino commented on #275
@TheTushar2696 sorry not yet. I'm working on performance at the same time I debug #259, I expect to have updates soon

[2022-11-03 08:54] jethro69er commented on #259
@pdpino thanks for your efforts.  If you can find a fix for this I'd be happy to pay you a handsome reward :)

[2022-11-04 09:25] greenboots88 commented on #259
@pdpino Yes, I would be happy to pay you to get this resolved asap please. Message me on wottonearth@gmail.com to arrange a payment

[2022-11-04 15:09] pdpino commented on #259
@jethro69er , @greenboots88 that'd be awesome! I'm trying to solve it this weekend. Hope to have an update soon.

[2022-11-07 11:29] greenboots88 commented on #259
How did you get on @pdpino. I was being serious about the payment.. drop me an email ;)

[2022-11-07 16:12] rdewolff opened #284 "Feature request: TimeZone support"
**Describe the feature you'd like**
Add an option to set the timezone of the calendar.

This seems like a

# Options

**Option 1**
The simple option would be to offset our `moment` dates.
Something like this could work when creating new `moment` var:

[code]
Pro: easy to implement
Con: not the cleanest

**Option 2**
We could use the `moment-timezone` library.

Example:
[code]

Pro: clean
Con: addi

[2022-11-07 16:29] pdpino commented on #284
Would you need to handle events in different timezones? or just one global timezone

e.g. Event 1 in tzA, Event 2 in tzB, calendar displayed in tzC. Both events show "shifted" w/r to their hours, but we know they are from a different timezone.

[2022-11-07 16:29] pdpino commented on #259
Update: I've located some mistakes and bottlenecks in the code that might be causing this, I've done some refactors and improved performance, though the ANR issue still appears at some point.

My computer crashed during the weekend and it doesn't boot right now, so I'll be a bit delayed by this 😞

@greenboots88 I sent you an email 🙂

[2022-11-09 15:18] Jack-Alfie commented on #259
@hoangnm can you look at this please, it should be the main priority because it makes the week view library completely unusable in Android 13

[2022-11-09 15:22] Jack-Alfie commented on #259
@hoangnm can you look at this please, it should be the main priority because it makes the week view library completely unusable in Android 13

[2022-11-11 05:35] rdewolff commented on #284
One global timezone support would be enough IMHO and should cover most use case.

[2022-11-18 10:53] greenboots88 commented on #259
@hoangnm do you have an update on this? Your library is not usable in Android13.